div.news-line
{
	word-wrap: break-word;
}
div.news-line a i
{
	color: #3c3e3f;
	 font-style: italic;
}

.news-line-item { 
margin: 	3px 1px 10px 1px;

}
.news-line-item img {
border: 	none;	
padding: 	0px 10px 5px 0px 
}
.news-line-item a {
color: #3c3e3f;
text-decoration: none;	
font-family: "PFDinTextPro";
}

div.news-line-list img.preview_picture-line
{
	float:left;
	margin:0 4px 6px 0;
}
.news-line-date-time {
	color:#486DAA;
}


