<div class="b-manager aside-block">
    <div class="aside-block__header">Ваш менеджер</div>
    <div class="b-manager__row">
        <div class="b-manager__photo" style="background-image: url('assets/template/img/tmp/manager.png');"></div>
        <div class="b-manager__name">Пташкина Людмила
            Валерьевна</div>
    </div>
</div>
<div class="b-client aside-block">
    <div class="aside-block__header">Код клиента</div>
    <div class="b-client__number">R104164648</div>
    <div class="b-client__text">Уникальный номер клиента для использования при выдаче прав на свои точки и других операциях</div>
</div>
<div class="b-agreement aside-block">
    <div class="aside-block__header">Договор с офисом</div>
    <div class="b-agreement__number">1646416145154</div>
    <div class="b-agreement__text">Для индификации вашего платежа при безналичной оплате, обязательно указывайте номер договора в назначении платежа</div>
</div>