<div class="news__list">

                        
    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>

            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Tesla представила электрический концепт T1 для Ле-Ман</a>
                </div>
                <div class="news__text">
                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Porsche Mission E и Bentley EXP будут построены на одной электрической платформе</a>
                </div>
                <div class="news__text">
                    <p>В попытке скомпенсировать расходы по устранению последствий дизельного скандала VW Group, три ее бренда скооперировались для создания общей платформы и компонентов. Porsche, Bentley и VW разделят между собой затраты на разработку, что позволит им экономить $106 млн. (€100 млн.) в год. ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Nio опубликовала тизер первой серийной модели до дебюта в Шанхае</a>
                </div>
                <div class="news__text">
                    <p>Китайский электромобильный стартап Nio стал широко известен несколько месяцев назад после демонстрации беспилотного суперкара EP9 и хэтчбэка Eve, также оснащенного беспилотными системами. Оба автомобиля являются исключительно концептами, а вот, модель, представленная на тизерном изображении, ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>

            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Tesla представила электрический концепт T1 для Ле-Ман</a>
                </div>
                <div class="news__text">
                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Porsche Mission E и Bentley EXP будут построены на одной электрической платформе</a>
                </div>
                <div class="news__text">
                    <p>В попытке скомпенсировать расходы по устранению последствий дизельного скандала VW Group, три ее бренда скооперировались для создания общей платформы и компонентов. Porsche, Bentley и VW разделят между собой затраты на разработку, что позволит им экономить $106 млн. (€100 млн.) в год. ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Nio опубликовала тизер первой серийной модели до дебюта в Шанхае</a>
                </div>
                <div class="news__text">
                    <p>Китайский электромобильный стартап Nio стал широко известен несколько месяцев назад после демонстрации беспилотного суперкара EP9 и хэтчбэка Eve, также оснащенного беспилотными системами. Оба автомобиля являются исключительно концептами, а вот, модель, представленная на тизерном изображении, ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>

            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Tesla представила электрический концепт T1 для Ле-Ман</a>
                </div>
                <div class="news__text">
                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Porsche Mission E и Bentley EXP будут построены на одной электрической платформе</a>
                </div>
                <div class="news__text">
                    <p>В попытке скомпенсировать расходы по устранению последствий дизельного скандала VW Group, три ее бренда скооперировались для создания общей платформы и компонентов. Porsche, Bentley и VW разделят между собой затраты на разработку, что позволит им экономить $106 млн. (€100 млн.) в год. ...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news__item">
        <div class="news__card">
            <div class="news__image">
                <img src="/assets/template/img/tmp/news-1.jpg" height="133" width="236"/>
            </div>
            <div class="news__box">
                <div class="news__date">
                    14.10.2017
                </div>
                <div class="news__header">
                    <a href="#">Nio опубликовала тизер первой серийной модели до дебюта в Шанхае</a>
                </div>
                <div class="news__text">
                    <p>Китайский электромобильный стартап Nio стал широко известен несколько месяцев назад после демонстрации беспилотного суперкара EP9 и хэтчбэка Eve, также оснащенного беспилотными системами. Оба автомобиля являются исключительно концептами, а вот, модель, представленная на тизерном изображении, ...</p>
                </div>
            </div>
        </div>
    </div>

</div>