<div class="product-rows__item">
    <div class="product-rows__image-box">
        <img src="/assets/template/img/tmp/product-1.jpg" height="107" width="90"/>
    </div>
    <div class="product-rows__middle">
        <div class="product-rows__middle-box">
            <div class="product-rows__caption">
                Моторное масло Mobil 1 0W-20
            </div>
            <div class="product-rows__price">
                От 1 200 руб.
            </div>
            <div class="product-rows__action">
                <a href="#" class="btn-o">Посмотреть цены</a>
            </div>
        </div>
    </div>
    <div class="product-rows__params">
        <div class="product-property">
            <div class="product-property__item product-property__item--article">
                <div class="product-property__name">Артикул</div>
                <div class="product-property__value">2340902375</div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Производитель</div>
                <div class="product-property__value"><a href="#mobi">Mobi</a></div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Состав</div>
                <div class="product-property__value">Синтетическое</div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Тип двигателя</div>
                <div class="product-property__value">Бензин/дизель</div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Тип автомобиля</div>
                <div class="product-property__value">Легковой</div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Объем упаковки</div>
                <div class="product-property__value">5 л.</div>
            </div>
            <div class="product-property__item">
                <div class="product-property__name">Вязкость</div>
                <div class="product-property__value">0W-20</div>
            </div>

        </div>
    </div>
</div>