.aside-block{
  &__text{
    color: #fff;
  }
}
.authorization{
  display: flex;
  min-height: 700px;
  flex-direction: column;
  align-items: center;
  @media($bp-larger-than-1250){
    flex-direction: row;
    align-items: stretch;
  }
}
.autoriz{
  max-width: 462px;
  width: 100%;
  margin-bottom: 70px;
  @media($bp-larger-than-1250){
    border-right: 1px solid #c0c0c0;
    padding-right: 54px;
    margin-right: 50px;
  }
  h1{
    margin-top: 0;
  }
  &__form-box{
    max-width: 304px;
    flex: 1;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
  }
  &__name{
    width: 78px;
    flex-shrink: 0;
  }
  &__value {
    flex: 1;
    display: flex;
    justify-content: space-between;
    input[type="text"] {
      width: 100%;
      height: 36px;
      line-height: 36px;
      background-color: #fff;
      border: 1px solid #bbbbbb;
      padding: 2px 16px;
    }
  }
  &__check{
    margin-bottom: 26px;
    .checkbox-custom{
      border: 1px solid #bdbdbd;
    }
  }
  &__enе{
    margin-right: 22px;
    height: 32px;
    width: 78px;
  }
  &__enter{
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 30px;
    a{
      text-decoration: none;
    }
  }
  &__social{
    margin-top: 30px;
    display: flex;
    align-items: center;
    >*{
      display: block;
      margin: 0 7px;
      content: "";
      @media($bp-larger-than-mobile){
        margin: 0 13px;
      }
    }
  }
  &__vk{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($vk-dark);
    }
  }
  &__facebook{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($facebook-dark);
    }
  }
  &__google{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($google-dark);
    }
  }
  &__mailru{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($mailru-dark);
    }
  }
  &__windows{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($windows-dark);
    }
  }
  &__yandex{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($yandex-dark);
    }
  }
}
.registr {
  max-width: 462px;
  width: 100%;
  //padding-left: 50px;
  @media($bp-larger-than-1250){
    max-width: 700px;
  }
  h1{
    margin-top: 0;
  }
  &__form-box {
    max-width: 452px;
    flex: 1;
    margin-bottom: 30px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
  }
  &__name {
    width: 100px;
    flex-shrink: 0;
    @media($bp-larger-than-mobile){
      width: 166px;
    }
  }
  &__value {
    flex: 1;
    display: flex;
    justify-content: space-between;
    input[type="text"] {
      width: 100%;
      height: 36px;
      line-height: 36px;
      background-color: #fff;
      border: 1px solid #bbbbbb;
      padding: 2px 16px;
    }
    &--code{
      width: 25px;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }
  &__ene{
    width: 196px;
    height: 32px;
  }
  &__enter{
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 30px;
  }
  &__social{
    margin-top: 30px;
    display: flex;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 26px;
    >*{
      display: block;
      margin: 0 7px;
      content: "";
      @media($bp-larger-than-mobile){
        margin: 0 13px;
      }
    }
  }
  &__vk{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($vk-dark);
    }
  }
  &__facebook{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($facebook-dark);
    }
  }
  &__google{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($google-dark);
    }
  }
  &__mailru{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($mailru-dark);
    }
  }
  &__windows{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($windows-dark);
    }
  }
  &__yandex{
    &:before{
      content: "";
      display: inline-block;
      @include sprite($yandex-dark);
    }
  }
  &__issue{
    margin-top: 34px;
    text-align: center;
    @media($bp-larger-than-1250){
      text-align: left;
    }
    a{
      margin-bottom: 30px;
      @media($bp-larger-than-mobile){
        margin-right: 20px;
        margin-bottom: 12px;
      }
    }
  }
  &__issuefl{
    text-transform: uppercase;
    max-width: 276px;
    height: 40px;
    line-height: 30px;
    text-align: center;
  }
  &__issueur{
    text-transform: uppercase;
    max-width: 350px;
    height: 40px;
    line-height: 30px;
    text-align: center;
  }
}