.news{
  &__list{
    margin-left: -35px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    padding: 0 35px;
    margin-bottom: 56px;
    max-width: 420px;
  }
  &__card{
    &:hover{
      .news__text{
        color: #313335;
      }
    }
  }
  &__box{

  }
  &__image{
    img{
      border: 1px solid #828183;
    }
    margin-bottom: 22px;
  }
  &__date{
    margin-bottom: 22px;
    font-size: 14px;
    color: #55585e;
  }
  &__header {
    margin-bottom: 26px;
    a {
      font-size: 18px;
      font-weight: bold;
      color: #313335;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
  }
  &__text{
    color: #55585e;
    font-size: 14px;
  }
}
