// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 580px;
$arrow-left-y: 422px;
$arrow-left-offset-x: -580px;
$arrow-left-offset-y: -422px;
$arrow-left-width: 51px;
$arrow-left-height: 41px;
$arrow-left-total-width: 636px;
$arrow-left-total-height: 569px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (580px, 422px, -580px, -422px, 51px, 41px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 580px;
$arrow-right-y: 463px;
$arrow-right-offset-x: -580px;
$arrow-right-offset-y: -463px;
$arrow-right-width: 51px;
$arrow-right-height: 41px;
$arrow-right-total-width: 636px;
$arrow-right-total-height: 569px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (580px, 463px, -580px, -463px, 51px, 41px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$check-name: 'check';
$check-x: 567px;
$check-y: 347px;
$check-offset-x: -567px;
$check-offset-y: -347px;
$check-width: 12px;
$check-height: 11px;
$check-total-width: 636px;
$check-total-height: 569px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (567px, 347px, -567px, -347px, 12px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'check', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 470px;
$contacts-address-y: 211px;
$contacts-address-offset-x: -470px;
$contacts-address-offset-y: -211px;
$contacts-address-width: 18px;
$contacts-address-height: 24px;
$contacts-address-total-width: 636px;
$contacts-address-total-height: 569px;
$contacts-address-image: '/assets/template/css/sprites/sprite.png';
$contacts-address: (470px, 211px, -470px, -211px, 18px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'contacts-address', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 136px;
$contacts-mail-y: 385px;
$contacts-mail-offset-x: -136px;
$contacts-mail-offset-y: -385px;
$contacts-mail-width: 24px;
$contacts-mail-height: 23px;
$contacts-mail-total-width: 636px;
$contacts-mail-total-height: 569px;
$contacts-mail-image: '/assets/template/css/sprites/sprite.png';
$contacts-mail: (136px, 385px, -136px, -385px, 24px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'contacts-mail', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 329px;
$contacts-phone-y: 143px;
$contacts-phone-offset-x: -329px;
$contacts-phone-offset-y: -143px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 636px;
$contacts-phone-total-height: 569px;
$contacts-phone-image: '/assets/template/css/sprites/sprite.png';
$contacts-phone: (329px, 143px, -329px, -143px, 24px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'contacts-phone', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 567px;
$crumb-separator-y: 358px;
$crumb-separator-offset-x: -567px;
$crumb-separator-offset-y: -358px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 636px;
$crumb-separator-total-height: 569px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (567px, 358px, -567px, -358px, 8px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$dislike-active-name: 'dislike-active';
$dislike-active-x: 160px;
$dislike-active-y: 385px;
$dislike-active-offset-x: -160px;
$dislike-active-offset-y: -385px;
$dislike-active-width: 24px;
$dislike-active-height: 23px;
$dislike-active-total-width: 636px;
$dislike-active-total-height: 569px;
$dislike-active-image: '/assets/template/css/sprites/sprite.png';
$dislike-active: (160px, 385px, -160px, -385px, 24px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'dislike-active', );
$dislike-name: 'dislike';
$dislike-x: 184px;
$dislike-y: 385px;
$dislike-offset-x: -184px;
$dislike-offset-y: -385px;
$dislike-width: 24px;
$dislike-height: 23px;
$dislike-total-width: 636px;
$dislike-total-height: 569px;
$dislike-image: '/assets/template/css/sprites/sprite.png';
$dislike: (184px, 385px, -184px, -385px, 24px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'dislike', );
$disqus-name: 'disqus';
$disqus-x: 300px;
$disqus-y: 385px;
$disqus-offset-x: -300px;
$disqus-offset-y: -385px;
$disqus-width: 22px;
$disqus-height: 20px;
$disqus-total-width: 636px;
$disqus-total-height: 569px;
$disqus-image: '/assets/template/css/sprites/sprite.png';
$disqus: (300px, 385px, -300px, -385px, 22px, 20px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'disqus', );
$facebook-dark-name: 'facebook-dark';
$facebook-dark-x: 567px;
$facebook-dark-y: 199px;
$facebook-dark-offset-x: -567px;
$facebook-dark-offset-y: -199px;
$facebook-dark-width: 11px;
$facebook-dark-height: 22px;
$facebook-dark-total-width: 636px;
$facebook-dark-total-height: 569px;
$facebook-dark-image: '/assets/template/css/sprites/sprite.png';
$facebook-dark: (567px, 199px, -567px, -199px, 11px, 22px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'facebook-dark', );
$gear-big-name: 'gear-big';
$gear-big-x: 136px;
$gear-big-y: 408px;
$gear-big-offset-x: -136px;
$gear-big-offset-y: -408px;
$gear-big-width: 22px;
$gear-big-height: 22px;
$gear-big-total-width: 636px;
$gear-big-total-height: 569px;
$gear-big-image: '/assets/template/css/sprites/sprite.png';
$gear-big: (136px, 408px, -136px, -408px, 22px, 22px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'gear-big', );
$gear-middle-name: 'gear-middle';
$gear-middle-x: 476px;
$gear-middle-y: 147px;
$gear-middle-offset-x: -476px;
$gear-middle-offset-y: -147px;
$gear-middle-width: 14px;
$gear-middle-height: 14px;
$gear-middle-total-width: 636px;
$gear-middle-total-height: 569px;
$gear-middle-image: '/assets/template/css/sprites/sprite.png';
$gear-middle: (476px, 147px, -476px, -147px, 14px, 14px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'gear-middle', );
$gear-small-name: 'gear-small';
$gear-small-x: 567px;
$gear-small-y: 369px;
$gear-small-offset-x: -567px;
$gear-small-offset-y: -369px;
$gear-small-width: 9px;
$gear-small-height: 9px;
$gear-small-total-width: 636px;
$gear-small-total-height: 569px;
$gear-small-image: '/assets/template/css/sprites/sprite.png';
$gear-small: (567px, 369px, -567px, -369px, 9px, 9px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'gear-small', );
$google-dark-name: 'google-dark';
$google-dark-x: 278px;
$google-dark-y: 385px;
$google-dark-offset-x: -278px;
$google-dark-offset-y: -385px;
$google-dark-width: 22px;
$google-dark-height: 20px;
$google-dark-total-width: 636px;
$google-dark-total-height: 569px;
$google-dark-image: '/assets/template/css/sprites/sprite.png';
$google-dark: (278px, 385px, -278px, -385px, 22px, 20px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'google-dark', );
$icon-calendar-name: 'icon-calendar';
$icon-calendar-x: 374px;
$icon-calendar-y: 385px;
$icon-calendar-offset-x: -374px;
$icon-calendar-offset-y: -385px;
$icon-calendar-width: 16px;
$icon-calendar-height: 16px;
$icon-calendar-total-width: 636px;
$icon-calendar-total-height: 569px;
$icon-calendar-image: '/assets/template/css/sprites/sprite.png';
$icon-calendar: (374px, 385px, -374px, -385px, 16px, 16px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-calendar', );
$icon-cart-red-name: 'icon-cart-red';
$icon-cart-red-x: 158px;
$icon-cart-red-y: 408px;
$icon-cart-red-offset-x: -158px;
$icon-cart-red-offset-y: -408px;
$icon-cart-red-width: 20px;
$icon-cart-red-height: 19px;
$icon-cart-red-total-width: 636px;
$icon-cart-red-total-height: 569px;
$icon-cart-red-image: '/assets/template/css/sprites/sprite.png';
$icon-cart-red: (158px, 408px, -158px, -408px, 20px, 19px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-cart-red', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 178px;
$icon-cart-y: 408px;
$icon-cart-offset-x: -178px;
$icon-cart-offset-y: -408px;
$icon-cart-width: 20px;
$icon-cart-height: 19px;
$icon-cart-total-width: 636px;
$icon-cart-total-height: 569px;
$icon-cart-image: '/assets/template/css/sprites/sprite.png';
$icon-cart: (178px, 408px, -178px, -408px, 20px, 19px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-cart', );
$icon-delete-name: 'icon-delete';
$icon-delete-x: 325px;
$icon-delete-y: 167px;
$icon-delete-offset-x: -325px;
$icon-delete-offset-y: -167px;
$icon-delete-width: 24px;
$icon-delete-height: 24px;
$icon-delete-total-width: 636px;
$icon-delete-total-height: 569px;
$icon-delete-image: '/assets/template/css/sprites/sprite.png';
$icon-delete: (325px, 167px, -325px, -167px, 24px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-delete', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 476px;
$icon-down-dark-y: 169px;
$icon-down-dark-offset-x: -476px;
$icon-down-dark-offset-y: -169px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 636px;
$icon-down-dark-total-height: 569px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (476px, 169px, -476px, -169px, 11px, 6px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-down-name: 'icon-down';
$icon-down-x: 476px;
$icon-down-y: 161px;
$icon-down-offset-x: -476px;
$icon-down-offset-y: -161px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 636px;
$icon-down-total-height: 569px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (476px, 161px, -476px, -161px, 14px, 8px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 444px;
$icon-gear-y: 179px;
$icon-gear-offset-x: -444px;
$icon-gear-offset-y: -179px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 636px;
$icon-gear-total-height: 569px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (444px, 179px, -444px, -179px, 31px, 32px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-left-black-name: 'icon-left-black';
$icon-left-black-x: 573px;
$icon-left-black-y: 168px;
$icon-left-black-offset-x: -573px;
$icon-left-black-offset-y: -168px;
$icon-left-black-width: 6px;
$icon-left-black-height: 11px;
$icon-left-black-total-width: 636px;
$icon-left-black-total-height: 569px;
$icon-left-black-image: '/assets/template/css/sprites/sprite.png';
$icon-left-black: (573px, 168px, -573px, -168px, 6px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-left-black', );
$icon-left-name: 'icon-left';
$icon-left-x: 573px;
$icon-left-y: 146px;
$icon-left-offset-x: -573px;
$icon-left-offset-y: -146px;
$icon-left-width: 6px;
$icon-left-height: 11px;
$icon-left-total-width: 636px;
$icon-left-total-height: 569px;
$icon-left-image: '/assets/template/css/sprites/sprite.png';
$icon-left: (573px, 146px, -573px, -146px, 6px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-left', );
$icon-marker-white-name: 'icon-marker-white';
$icon-marker-white-x: 567px;
$icon-marker-white-y: 318px;
$icon-marker-white-offset-x: -567px;
$icon-marker-white-offset-y: -318px;
$icon-marker-white-width: 12px;
$icon-marker-white-height: 16px;
$icon-marker-white-total-width: 636px;
$icon-marker-white-total-height: 569px;
$icon-marker-white-image: '/assets/template/css/sprites/sprite.png';
$icon-marker-white: (567px, 318px, -567px, -318px, 12px, 16px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-marker-white', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 567px;
$icon-marker-y: 302px;
$icon-marker-offset-x: -567px;
$icon-marker-offset-y: -302px;
$icon-marker-width: 12px;
$icon-marker-height: 16px;
$icon-marker-total-width: 636px;
$icon-marker-total-height: 569px;
$icon-marker-image: '/assets/template/css/sprites/sprite.png';
$icon-marker: (567px, 302px, -567px, -302px, 12px, 16px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 326px;
$icon-phone-y: 195px;
$icon-phone-offset-x: -326px;
$icon-phone-offset-y: -195px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 636px;
$icon-phone-total-height: 569px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (326px, 195px, -326px, -195px, 24px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-right-black-name: 'icon-right-black';
$icon-right-black-x: 573px;
$icon-right-black-y: 179px;
$icon-right-black-offset-x: -573px;
$icon-right-black-offset-y: -179px;
$icon-right-black-width: 6px;
$icon-right-black-height: 11px;
$icon-right-black-total-width: 636px;
$icon-right-black-total-height: 569px;
$icon-right-black-image: '/assets/template/css/sprites/sprite.png';
$icon-right-black: (573px, 179px, -573px, -179px, 6px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-right-black', );
$icon-right-name: 'icon-right';
$icon-right-x: 573px;
$icon-right-y: 157px;
$icon-right-offset-x: -573px;
$icon-right-offset-y: -157px;
$icon-right-width: 6px;
$icon-right-height: 11px;
$icon-right-total-width: 636px;
$icon-right-total-height: 569px;
$icon-right-image: '/assets/template/css/sprites/sprite.png';
$icon-right: (573px, 157px, -573px, -157px, 6px, 11px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-right', );
$icon-user-name: 'icon-user';
$icon-user-x: 216px;
$icon-user-y: 408px;
$icon-user-offset-x: -216px;
$icon-user-offset-y: -408px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 636px;
$icon-user-total-height: 569px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (216px, 408px, -216px, -408px, 18px, 18px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$like-active-name: 'like-active';
$like-active-x: 302px;
$like-active-y: 243px;
$like-active-offset-x: -302px;
$like-active-offset-y: -243px;
$like-active-width: 24px;
$like-active-height: 23px;
$like-active-total-width: 636px;
$like-active-total-height: 569px;
$like-active-image: '/assets/template/css/sprites/sprite.png';
$like-active: (302px, 243px, -302px, -243px, 24px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'like-active', );
$like-name: 'like';
$like-x: 326px;
$like-y: 243px;
$like-offset-x: -326px;
$like-offset-y: -243px;
$like-width: 24px;
$like-height: 23px;
$like-total-width: 636px;
$like-total-height: 569px;
$like-image: '/assets/template/css/sprites/sprite.png';
$like: (326px, 243px, -326px, -243px, 24px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'like', );
$lk-setting-name: 'lk-setting';
$lk-setting-x: 326px;
$lk-setting-y: 219px;
$lk-setting-offset-x: -326px;
$lk-setting-offset-y: -219px;
$lk-setting-width: 23px;
$lk-setting-height: 24px;
$lk-setting-total-width: 636px;
$lk-setting-total-height: 569px;
$lk-setting-image: '/assets/template/css/sprites/sprite.png';
$lk-setting: (326px, 219px, -326px, -219px, 23px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'lk-setting', );
$logo-hino-90-active-name: 'logo-hino-90-active';
$logo-hino-90-active-x: 226px;
$logo-hino-90-active-y: 288px;
$logo-hino-90-active-offset-x: -226px;
$logo-hino-90-active-offset-y: -288px;
$logo-hino-90-active-width: 90px;
$logo-hino-90-active-height: 86px;
$logo-hino-90-active-total-width: 636px;
$logo-hino-90-active-total-height: 569px;
$logo-hino-90-active-image: '/assets/template/css/sprites/sprite.png';
$logo-hino-90-active: (226px, 288px, -226px, -288px, 90px, 86px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-hino-90-active', );
$logo-hino-90-name: 'logo-hino-90';
$logo-hino-90-x: 316px;
$logo-hino-90-y: 288px;
$logo-hino-90-offset-x: -316px;
$logo-hino-90-offset-y: -288px;
$logo-hino-90-width: 90px;
$logo-hino-90-height: 86px;
$logo-hino-90-total-width: 636px;
$logo-hino-90-total-height: 569px;
$logo-hino-90-image: '/assets/template/css/sprites/sprite.png';
$logo-hino-90: (316px, 288px, -316px, -288px, 90px, 86px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-hino-90', );
$logo-hino-active-name: 'logo-hino-active';
$logo-hino-active-x: 151px;
$logo-hino-active-y: 143px;
$logo-hino-active-offset-x: -151px;
$logo-hino-active-offset-y: -143px;
$logo-hino-active-width: 151px;
$logo-hino-active-height: 145px;
$logo-hino-active-total-width: 636px;
$logo-hino-active-total-height: 569px;
$logo-hino-active-image: '/assets/template/css/sprites/sprite.png';
$logo-hino-active: (151px, 143px, -151px, -143px, 151px, 145px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-hino-active', );
$logo-hino-name: 'logo-hino';
$logo-hino-x: 0px;
$logo-hino-y: 143px;
$logo-hino-offset-x: 0px;
$logo-hino-offset-y: -143px;
$logo-hino-width: 151px;
$logo-hino-height: 145px;
$logo-hino-total-width: 636px;
$logo-hino-total-height: 569px;
$logo-hino-image: '/assets/template/css/sprites/sprite.png';
$logo-hino: (0px, 143px, 0px, -143px, 151px, 145px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-hino', );
$logo-isuzu-90-active-name: 'logo-isuzu-90-active';
$logo-isuzu-90-active-x: 490px;
$logo-isuzu-90-active-y: 0px;
$logo-isuzu-90-active-offset-x: -490px;
$logo-isuzu-90-active-offset-y: 0px;
$logo-isuzu-90-active-width: 90px;
$logo-isuzu-90-active-height: 73px;
$logo-isuzu-90-active-total-width: 636px;
$logo-isuzu-90-active-total-height: 569px;
$logo-isuzu-90-active-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu-90-active: (490px, 0px, -490px, 0px, 90px, 73px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu-90-active', );
$logo-isuzu-90-name: 'logo-isuzu-90';
$logo-isuzu-90-x: 490px;
$logo-isuzu-90-y: 73px;
$logo-isuzu-90-offset-x: -490px;
$logo-isuzu-90-offset-y: -73px;
$logo-isuzu-90-width: 90px;
$logo-isuzu-90-height: 73px;
$logo-isuzu-90-total-width: 636px;
$logo-isuzu-90-total-height: 569px;
$logo-isuzu-90-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu-90: (490px, 73px, -490px, -73px, 90px, 73px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu-90', );
$logo-isuzu-active-name: 'logo-isuzu-active';
$logo-isuzu-active-x: 0px;
$logo-isuzu-active-y: 0px;
$logo-isuzu-active-offset-x: 0px;
$logo-isuzu-active-offset-y: 0px;
$logo-isuzu-active-width: 177px;
$logo-isuzu-active-height: 143px;
$logo-isuzu-active-total-width: 636px;
$logo-isuzu-active-total-height: 569px;
$logo-isuzu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu-active: (0px, 0px, 0px, 0px, 177px, 143px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu-active', );
$logo-isuzu-name: 'logo-isuzu';
$logo-isuzu-x: 177px;
$logo-isuzu-y: 0px;
$logo-isuzu-offset-x: -177px;
$logo-isuzu-offset-y: 0px;
$logo-isuzu-width: 177px;
$logo-isuzu-height: 143px;
$logo-isuzu-total-width: 636px;
$logo-isuzu-total-height: 569px;
$logo-isuzu-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu: (177px, 0px, -177px, 0px, 177px, 143px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu', );
$logo-mitsu-90-active-name: 'logo-mitsu-90-active';
$logo-mitsu-90-active-x: 354px;
$logo-mitsu-90-active-y: 147px;
$logo-mitsu-90-active-offset-x: -354px;
$logo-mitsu-90-active-offset-y: -147px;
$logo-mitsu-90-active-width: 90px;
$logo-mitsu-90-active-height: 97px;
$logo-mitsu-90-active-total-width: 636px;
$logo-mitsu-90-active-total-height: 569px;
$logo-mitsu-90-active-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu-90-active: (354px, 147px, -354px, -147px, 90px, 97px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu-90-active', );
$logo-mitsu-90-name: 'logo-mitsu-90';
$logo-mitsu-90-x: 136px;
$logo-mitsu-90-y: 288px;
$logo-mitsu-90-offset-x: -136px;
$logo-mitsu-90-offset-y: -288px;
$logo-mitsu-90-width: 90px;
$logo-mitsu-90-height: 97px;
$logo-mitsu-90-total-width: 636px;
$logo-mitsu-90-total-height: 569px;
$logo-mitsu-90-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu-90: (136px, 288px, -136px, -288px, 90px, 97px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu-90', );
$logo-mitsu-active-name: 'logo-mitsu-active';
$logo-mitsu-active-x: 0px;
$logo-mitsu-active-y: 288px;
$logo-mitsu-active-offset-x: 0px;
$logo-mitsu-active-offset-y: -288px;
$logo-mitsu-active-width: 136px;
$logo-mitsu-active-height: 147px;
$logo-mitsu-active-total-width: 636px;
$logo-mitsu-active-total-height: 569px;
$logo-mitsu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu-active: (0px, 288px, 0px, -288px, 136px, 147px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu-active', );
$logo-mitsu-name: 'logo-mitsu';
$logo-mitsu-x: 354px;
$logo-mitsu-y: 0px;
$logo-mitsu-offset-x: -354px;
$logo-mitsu-offset-y: 0px;
$logo-mitsu-width: 136px;
$logo-mitsu-height: 147px;
$logo-mitsu-total-width: 636px;
$logo-mitsu-total-height: 569px;
$logo-mitsu-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu: (354px, 0px, -354px, 0px, 136px, 147px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu', );
$mailru-dark-name: 'mailru-dark';
$mailru-dark-x: 325px;
$mailru-dark-y: 266px;
$mailru-dark-offset-x: -325px;
$mailru-dark-offset-y: -266px;
$mailru-dark-width: 23px;
$mailru-dark-height: 22px;
$mailru-dark-total-width: 636px;
$mailru-dark-total-height: 569px;
$mailru-dark-image: '/assets/template/css/sprites/sprite.png';
$mailru-dark: (325px, 266px, -325px, -266px, 23px, 22px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'mailru-dark', );
$main-electro-active-name: 'main-electro-active';
$main-electro-active-x: 73px;
$main-electro-active-y: 507px;
$main-electro-active-offset-x: -73px;
$main-electro-active-offset-y: -507px;
$main-electro-active-width: 73px;
$main-electro-active-height: 62px;
$main-electro-active-total-width: 636px;
$main-electro-active-total-height: 569px;
$main-electro-active-image: '/assets/template/css/sprites/sprite.png';
$main-electro-active: (73px, 507px, -73px, -507px, 73px, 62px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-electro-active', );
$main-electro-name: 'main-electro';
$main-electro-x: 0px;
$main-electro-y: 507px;
$main-electro-offset-x: 0px;
$main-electro-offset-y: -507px;
$main-electro-width: 73px;
$main-electro-height: 62px;
$main-electro-total-width: 636px;
$main-electro-total-height: 569px;
$main-electro-image: '/assets/template/css/sprites/sprite.png';
$main-electro: (0px, 507px, 0px, -507px, 73px, 62px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-electro', );
$main-engine-active-name: 'main-engine-active';
$main-engine-active-x: 79px;
$main-engine-active-y: 435px;
$main-engine-active-offset-x: -79px;
$main-engine-active-offset-y: -435px;
$main-engine-active-width: 83px;
$main-engine-active-height: 68px;
$main-engine-active-total-width: 636px;
$main-engine-active-total-height: 569px;
$main-engine-active-image: '/assets/template/css/sprites/sprite.png';
$main-engine-active: (79px, 435px, -79px, -435px, 83px, 68px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-engine-active', );
$main-engine-name: 'main-engine';
$main-engine-x: 162px;
$main-engine-y: 435px;
$main-engine-offset-x: -162px;
$main-engine-offset-y: -435px;
$main-engine-width: 83px;
$main-engine-height: 68px;
$main-engine-total-width: 636px;
$main-engine-total-height: 569px;
$main-engine-image: '/assets/template/css/sprites/sprite.png';
$main-engine: (162px, 435px, -162px, -435px, 83px, 68px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-engine', );
$main-kuzov-active-name: 'main-kuzov-active';
$main-kuzov-active-x: 339px;
$main-kuzov-active-y: 435px;
$main-kuzov-active-offset-x: -339px;
$main-kuzov-active-offset-y: -435px;
$main-kuzov-active-width: 94px;
$main-kuzov-active-height: 54px;
$main-kuzov-active-total-width: 636px;
$main-kuzov-active-total-height: 569px;
$main-kuzov-active-image: '/assets/template/css/sprites/sprite.png';
$main-kuzov-active: (339px, 435px, -339px, -435px, 94px, 54px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-kuzov-active', );
$main-kuzov-name: 'main-kuzov';
$main-kuzov-x: 245px;
$main-kuzov-y: 435px;
$main-kuzov-offset-x: -245px;
$main-kuzov-offset-y: -435px;
$main-kuzov-width: 94px;
$main-kuzov-height: 54px;
$main-kuzov-total-width: 636px;
$main-kuzov-total-height: 569px;
$main-kuzov-image: '/assets/template/css/sprites/sprite.png';
$main-kuzov: (245px, 435px, -245px, -435px, 94px, 54px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-kuzov', );
$main-oil-active-name: 'main-oil-active';
$main-oil-active-x: 580px;
$main-oil-active-y: 172px;
$main-oil-active-offset-x: -580px;
$main-oil-active-offset-y: -172px;
$main-oil-active-width: 56px;
$main-oil-active-height: 80px;
$main-oil-active-total-width: 636px;
$main-oil-active-total-height: 569px;
$main-oil-active-image: '/assets/template/css/sprites/sprite.png';
$main-oil-active: (580px, 172px, -580px, -172px, 56px, 80px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-oil-active', );
$main-oil-name: 'main-oil';
$main-oil-x: 580px;
$main-oil-y: 252px;
$main-oil-offset-x: -580px;
$main-oil-offset-y: -252px;
$main-oil-width: 56px;
$main-oil-height: 80px;
$main-oil-total-width: 636px;
$main-oil-total-height: 569px;
$main-oil-image: '/assets/template/css/sprites/sprite.png';
$main-oil: (580px, 252px, -580px, -252px, 56px, 80px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-oil', );
$main-service-active-name: 'main-service-active';
$main-service-active-x: 580px;
$main-service-active-y: 0px;
$main-service-active-offset-x: -580px;
$main-service-active-offset-y: 0px;
$main-service-active-width: 56px;
$main-service-active-height: 86px;
$main-service-active-total-width: 636px;
$main-service-active-total-height: 569px;
$main-service-active-image: '/assets/template/css/sprites/sprite.png';
$main-service-active: (580px, 0px, -580px, 0px, 56px, 86px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-service-active', );
$main-service-name: 'main-service';
$main-service-x: 580px;
$main-service-y: 86px;
$main-service-offset-x: -580px;
$main-service-offset-y: -86px;
$main-service-width: 56px;
$main-service-height: 86px;
$main-service-total-width: 636px;
$main-service-total-height: 569px;
$main-service-image: '/assets/template/css/sprites/sprite.png';
$main-service: (580px, 86px, -580px, -86px, 56px, 86px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-service', );
$main-shassi-active-name: 'main-shassi-active';
$main-shassi-active-x: 490px;
$main-shassi-active-y: 380px;
$main-shassi-active-offset-x: -490px;
$main-shassi-active-offset-y: -380px;
$main-shassi-active-width: 88px;
$main-shassi-active-height: 33px;
$main-shassi-active-total-width: 636px;
$main-shassi-active-total-height: 569px;
$main-shassi-active-image: '/assets/template/css/sprites/sprite.png';
$main-shassi-active: (490px, 380px, -490px, -380px, 88px, 33px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-shassi-active', );
$main-shassi-name: 'main-shassi';
$main-shassi-x: 354px;
$main-shassi-y: 244px;
$main-shassi-offset-x: -354px;
$main-shassi-offset-y: -244px;
$main-shassi-width: 88px;
$main-shassi-height: 33px;
$main-shassi-total-width: 636px;
$main-shassi-total-height: 569px;
$main-shassi-image: '/assets/template/css/sprites/sprite.png';
$main-shassi: (354px, 244px, -354px, -244px, 88px, 33px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-shassi', );
$main-sto-active-name: 'main-sto-active';
$main-sto-active-x: 490px;
$main-sto-active-y: 302px;
$main-sto-active-offset-x: -490px;
$main-sto-active-offset-y: -302px;
$main-sto-active-width: 77px;
$main-sto-active-height: 78px;
$main-sto-active-total-width: 636px;
$main-sto-active-total-height: 569px;
$main-sto-active-image: '/assets/template/css/sprites/sprite.png';
$main-sto-active: (490px, 302px, -490px, -302px, 77px, 78px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-sto-active', );
$main-sto-name: 'main-sto';
$main-sto-x: 490px;
$main-sto-y: 224px;
$main-sto-offset-x: -490px;
$main-sto-offset-y: -224px;
$main-sto-width: 77px;
$main-sto-height: 78px;
$main-sto-total-width: 636px;
$main-sto-total-height: 569px;
$main-sto-image: '/assets/template/css/sprites/sprite.png';
$main-sto: (490px, 224px, -490px, -224px, 77px, 78px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-sto', );
$main-to-name: 'main-to';
$main-to-x: 490px;
$main-to-y: 146px;
$main-to-offset-x: -490px;
$main-to-offset-y: -146px;
$main-to-width: 77px;
$main-to-height: 78px;
$main-to-total-width: 636px;
$main-to-total-height: 569px;
$main-to-image: '/assets/template/css/sprites/sprite.png';
$main-to: (490px, 146px, -490px, -146px, 77px, 78px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-to', );
$main-transm-active-name: 'main-transm-active';
$main-transm-active-x: 406px;
$main-transm-active-y: 288px;
$main-transm-active-offset-x: -406px;
$main-transm-active-offset-y: -288px;
$main-transm-active-width: 79px;
$main-transm-active-height: 72px;
$main-transm-active-total-width: 636px;
$main-transm-active-total-height: 569px;
$main-transm-active-image: '/assets/template/css/sprites/sprite.png';
$main-transm-active: (406px, 288px, -406px, -288px, 79px, 72px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-transm-active', );
$main-transm-name: 'main-transm';
$main-transm-x: 0px;
$main-transm-y: 435px;
$main-transm-offset-x: 0px;
$main-transm-offset-y: -435px;
$main-transm-width: 79px;
$main-transm-height: 72px;
$main-transm-total-width: 636px;
$main-transm-total-height: 569px;
$main-transm-image: '/assets/template/css/sprites/sprite.png';
$main-transm: (0px, 435px, 0px, -435px, 79px, 72px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'main-transm', );
$mastercard-name: 'mastercard';
$mastercard-x: 580px;
$mastercard-y: 379px;
$mastercard-offset-x: -580px;
$mastercard-offset-y: -379px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 636px;
$mastercard-total-height: 569px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (580px, 379px, -580px, -379px, 51px, 43px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$oauth-facebook-name: 'oauth-facebook';
$oauth-facebook-x: 567px;
$oauth-facebook-y: 224px;
$oauth-facebook-offset-x: -567px;
$oauth-facebook-offset-y: -224px;
$oauth-facebook-width: 11px;
$oauth-facebook-height: 22px;
$oauth-facebook-total-width: 636px;
$oauth-facebook-total-height: 569px;
$oauth-facebook-image: '/assets/template/css/sprites/sprite.png';
$oauth-facebook: (567px, 224px, -567px, -224px, 11px, 22px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-facebook', );
$oauth-google-name: 'oauth-google';
$oauth-google-x: 256px;
$oauth-google-y: 385px;
$oauth-google-offset-x: -256px;
$oauth-google-offset-y: -385px;
$oauth-google-width: 22px;
$oauth-google-height: 20px;
$oauth-google-total-width: 636px;
$oauth-google-total-height: 569px;
$oauth-google-image: '/assets/template/css/sprites/sprite.png';
$oauth-google: (256px, 385px, -256px, -385px, 22px, 20px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-google', );
$oauth-mailru-name: 'oauth-mailru';
$oauth-mailru-x: 302px;
$oauth-mailru-y: 266px;
$oauth-mailru-offset-x: -302px;
$oauth-mailru-offset-y: -266px;
$oauth-mailru-width: 23px;
$oauth-mailru-height: 22px;
$oauth-mailru-total-width: 636px;
$oauth-mailru-total-height: 569px;
$oauth-mailru-image: '/assets/template/css/sprites/sprite.png';
$oauth-mailru: (302px, 266px, -302px, -266px, 23px, 22px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-mailru', );
$oauth-vk-name: 'oauth-vk';
$oauth-vk-x: 348px;
$oauth-vk-y: 385px;
$oauth-vk-offset-x: -348px;
$oauth-vk-offset-y: -385px;
$oauth-vk-width: 26px;
$oauth-vk-height: 16px;
$oauth-vk-total-width: 636px;
$oauth-vk-total-height: 569px;
$oauth-vk-image: '/assets/template/css/sprites/sprite.png';
$oauth-vk: (348px, 385px, -348px, -385px, 26px, 16px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-vk', );
$oauth-windows-name: 'oauth-windows';
$oauth-windows-x: 442px;
$oauth-windows-y: 244px;
$oauth-windows-offset-x: -442px;
$oauth-windows-offset-y: -244px;
$oauth-windows-width: 27px;
$oauth-windows-height: 24px;
$oauth-windows-total-width: 636px;
$oauth-windows-total-height: 569px;
$oauth-windows-image: '/assets/template/css/sprites/sprite.png';
$oauth-windows: (442px, 244px, -442px, -244px, 27px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-windows', );
$oauth-yandex-name: 'oauth-yandex';
$oauth-yandex-x: 567px;
$oauth-yandex-y: 267px;
$oauth-yandex-offset-x: -567px;
$oauth-yandex-offset-y: -267px;
$oauth-yandex-width: 10px;
$oauth-yandex-height: 21px;
$oauth-yandex-total-width: 636px;
$oauth-yandex-total-height: 569px;
$oauth-yandex-image: '/assets/template/css/sprites/sprite.png';
$oauth-yandex: (567px, 267px, -567px, -267px, 10px, 21px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'oauth-yandex', );
$phone-15-name: 'phone-15';
$phone-15-x: 302px;
$phone-15-y: 219px;
$phone-15-offset-x: -302px;
$phone-15-offset-y: -219px;
$phone-15-width: 24px;
$phone-15-height: 24px;
$phone-15-total-width: 636px;
$phone-15-total-height: 569px;
$phone-15-image: '/assets/template/css/sprites/sprite.png';
$phone-15: (302px, 219px, -302px, -219px, 24px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'phone-15', );
$phone-18-name: 'phone-18';
$phone-18-x: 234px;
$phone-18-y: 408px;
$phone-18-offset-x: -234px;
$phone-18-offset-y: -408px;
$phone-18-width: 18px;
$phone-18-height: 18px;
$phone-18-total-width: 636px;
$phone-18-total-height: 569px;
$phone-18-image: '/assets/template/css/sprites/sprite.png';
$phone-18: (234px, 408px, -234px, -408px, 18px, 18px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'phone-18', );
$phone-small-dark-name: 'phone-small-dark';
$phone-small-dark-x: 252px;
$phone-small-dark-y: 408px;
$phone-small-dark-offset-x: -252px;
$phone-small-dark-offset-y: -408px;
$phone-small-dark-width: 17px;
$phone-small-dark-height: 17px;
$phone-small-dark-total-width: 636px;
$phone-small-dark-total-height: 569px;
$phone-small-dark-image: '/assets/template/css/sprites/sprite.png';
$phone-small-dark: (252px, 408px, -252px, -408px, 17px, 17px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'phone-small-dark', );
$photo-name: 'photo';
$photo-x: 208px;
$photo-y: 385px;
$photo-offset-x: -208px;
$photo-offset-y: -385px;
$photo-width: 23px;
$photo-height: 23px;
$photo-total-width: 636px;
$photo-total-height: 569px;
$photo-image: '/assets/template/css/sprites/sprite.png';
$photo: (208px, 385px, -208px, -385px, 23px, 23px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'photo', );
$product-search-name: 'product-search';
$product-search-x: 444px;
$product-search-y: 147px;
$product-search-offset-x: -444px;
$product-search-offset-y: -147px;
$product-search-width: 32px;
$product-search-height: 32px;
$product-search-total-width: 636px;
$product-search-total-height: 569px;
$product-search-image: '/assets/template/css/sprites/sprite.png';
$product-search: (444px, 147px, -444px, -147px, 32px, 32px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'product-search', );
$radio-active-name: 'radio-active';
$radio-active-x: 567px;
$radio-active-y: 334px;
$radio-active-offset-x: -567px;
$radio-active-offset-y: -334px;
$radio-active-width: 13px;
$radio-active-height: 13px;
$radio-active-total-width: 636px;
$radio-active-total-height: 569px;
$radio-active-image: '/assets/template/css/sprites/sprite.png';
$radio-active: (567px, 334px, -567px, -334px, 13px, 13px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'radio-active', );
$radio-name: 'radio';
$radio-x: 567px;
$radio-y: 288px;
$radio-offset-x: -567px;
$radio-offset-y: -288px;
$radio-width: 13px;
$radio-height: 13px;
$radio-total-width: 636px;
$radio-total-height: 569px;
$radio-image: '/assets/template/css/sprites/sprite.png';
$radio: (567px, 288px, -567px, -288px, 13px, 13px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'radio', );
$red-line-name: 'red-line';
$red-line-x: 631px;
$red-line-y: 379px;
$red-line-offset-x: -631px;
$red-line-offset-y: -379px;
$red-line-width: 5px;
$red-line-height: 36px;
$red-line-total-width: 636px;
$red-line-total-height: 569px;
$red-line-image: '/assets/template/css/sprites/sprite.png';
$red-line: (631px, 379px, -631px, -379px, 5px, 36px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'red-line', );
$reviews-car-name: 'reviews__car';
$reviews-car-x: 580px;
$reviews-car-y: 332px;
$reviews-car-offset-x: -580px;
$reviews-car-offset-y: -332px;
$reviews-car-width: 54px;
$reviews-car-height: 47px;
$reviews-car-total-width: 636px;
$reviews-car-total-height: 569px;
$reviews-car-image: '/assets/template/css/sprites/sprite.png';
$reviews-car: (580px, 332px, -580px, -332px, 54px, 47px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'reviews__car', );
$sberbank-name: 'sberbank';
$sberbank-x: 444px;
$sberbank-y: 211px;
$sberbank-offset-x: -444px;
$sberbank-offset-y: -211px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 636px;
$sberbank-total-height: 569px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (444px, 211px, -444px, -211px, 26px, 27px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$search-dark-name: 'search-dark';
$search-dark-x: 198px;
$search-dark-y: 408px;
$search-dark-offset-x: -198px;
$search-dark-offset-y: -408px;
$search-dark-width: 18px;
$search-dark-height: 18px;
$search-dark-total-width: 636px;
$search-dark-total-height: 569px;
$search-dark-image: '/assets/template/css/sprites/sprite.png';
$search-dark: (198px, 408px, -198px, -408px, 18px, 18px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'search-dark', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 302px;
$social-instagram-y: 195px;
$social-instagram-offset-x: -302px;
$social-instagram-offset-y: -195px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 636px;
$social-instagram-total-height: 569px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (302px, 195px, -302px, -195px, 24px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 545px;
$social-vk-y: 413px;
$social-vk-offset-x: -545px;
$social-vk-offset-y: -413px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 636px;
$social-vk-total-height: 569px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (545px, 413px, -545px, -413px, 30px, 18px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$tab-shadow-name: 'tab-shadow';
$tab-shadow-x: 567px;
$tab-shadow-y: 146px;
$tab-shadow-offset-x: -567px;
$tab-shadow-offset-y: -146px;
$tab-shadow-width: 6px;
$tab-shadow-height: 53px;
$tab-shadow-total-width: 636px;
$tab-shadow-total-height: 569px;
$tab-shadow-image: '/assets/template/css/sprites/sprite.png';
$tab-shadow: (567px, 146px, -567px, -146px, 6px, 53px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'tab-shadow', );
$view-list-name: 'view-list';
$view-list-x: 231px;
$view-list-y: 385px;
$view-list-offset-x: -231px;
$view-list-offset-y: -385px;
$view-list-width: 25px;
$view-list-height: 20px;
$view-list-total-width: 636px;
$view-list-total-height: 569px;
$view-list-image: '/assets/template/css/sprites/sprite.png';
$view-list: (231px, 385px, -231px, -385px, 25px, 20px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'view-list', );
$view-tail-name: 'view-tail';
$view-tail-x: 469px;
$view-tail-y: 244px;
$view-tail-offset-x: -469px;
$view-tail-offset-y: -244px;
$view-tail-width: 20px;
$view-tail-height: 20px;
$view-tail-total-width: 636px;
$view-tail-total-height: 569px;
$view-tail-image: '/assets/template/css/sprites/sprite.png';
$view-tail: (469px, 244px, -469px, -244px, 20px, 20px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'view-tail', );
$visa-name: 'visa';
$visa-x: 490px;
$visa-y: 413px;
$visa-offset-x: -490px;
$visa-offset-y: -413px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 636px;
$visa-total-height: 569px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (490px, 413px, -490px, -413px, 55px, 18px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'visa', );
$vk-dark-name: 'vk-dark';
$vk-dark-x: 322px;
$vk-dark-y: 385px;
$vk-dark-offset-x: -322px;
$vk-dark-offset-y: -385px;
$vk-dark-width: 26px;
$vk-dark-height: 16px;
$vk-dark-total-width: 636px;
$vk-dark-total-height: 569px;
$vk-dark-image: '/assets/template/css/sprites/sprite.png';
$vk-dark: (322px, 385px, -322px, -385px, 26px, 16px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'vk-dark', );
$windows-dark-name: 'windows-dark';
$windows-dark-x: 302px;
$windows-dark-y: 143px;
$windows-dark-offset-x: -302px;
$windows-dark-offset-y: -143px;
$windows-dark-width: 27px;
$windows-dark-height: 24px;
$windows-dark-total-width: 636px;
$windows-dark-total-height: 569px;
$windows-dark-image: '/assets/template/css/sprites/sprite.png';
$windows-dark: (302px, 143px, -302px, -143px, 27px, 24px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'windows-dark', );
$yandex-dark-name: 'yandex-dark';
$yandex-dark-x: 567px;
$yandex-dark-y: 246px;
$yandex-dark-offset-x: -567px;
$yandex-dark-offset-y: -246px;
$yandex-dark-width: 10px;
$yandex-dark-height: 21px;
$yandex-dark-total-width: 636px;
$yandex-dark-total-height: 569px;
$yandex-dark-image: '/assets/template/css/sprites/sprite.png';
$yandex-dark: (567px, 246px, -567px, -246px, 10px, 21px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'yandex-dark', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 302px;
$yandex-wallet-y: 167px;
$yandex-wallet-offset-x: -302px;
$yandex-wallet-offset-y: -167px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 636px;
$yandex-wallet-total-height: 569px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (302px, 167px, -302px, -167px, 23px, 28px, 636px, 569px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 636px;
$spritesheet-height: 569px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $check, $contacts-address, $contacts-mail, $contacts-phone, $crumb-separator, $dislike-active, $dislike, $disqus, $facebook-dark, $gear-big, $gear-middle, $gear-small, $google-dark, $icon-calendar, $icon-cart-red, $icon-cart, $icon-delete, $icon-down-dark, $icon-down, $icon-gear, $icon-left-black, $icon-left, $icon-marker-white, $icon-marker, $icon-phone, $icon-right-black, $icon-right, $icon-user, $like-active, $like, $lk-setting, $logo-hino-90-active, $logo-hino-90, $logo-hino-active, $logo-hino, $logo-isuzu-90-active, $logo-isuzu-90, $logo-isuzu-active, $logo-isuzu, $logo-mitsu-90-active, $logo-mitsu-90, $logo-mitsu-active, $logo-mitsu, $mailru-dark, $main-electro-active, $main-electro, $main-engine-active, $main-engine, $main-kuzov-active, $main-kuzov, $main-oil-active, $main-oil, $main-service-active, $main-service, $main-shassi-active, $main-shassi, $main-sto-active, $main-sto, $main-to, $main-transm-active, $main-transm, $mastercard, $oauth-facebook, $oauth-google, $oauth-mailru, $oauth-vk, $oauth-windows, $oauth-yandex, $phone-15, $phone-18, $phone-small-dark, $photo, $product-search, $radio-active, $radio, $red-line, $reviews-car, $sberbank, $search-dark, $social-instagram, $social-vk, $tab-shadow, $view-list, $view-tail, $visa, $vk-dark, $windows-dark, $yandex-dark, $yandex-wallet, );
$spritesheet: (636px, 569px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
