//= include/header.html


<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">Личный кабинет</a></li>
                            <li><a href="/">Настройки</a></li>
                            <li class="active">Оповещения</li>
                        </ul>
                    </div>
                </div>
                <div class="text-box">
                    <h1 class="header1">Оповещения</h1>
                    <div class="alerts__list">
                        <div class="alerts__box">
                            <div class="alerts-choice">
                                <div class="alerts-choice__field"></div>
                                <div class="alerts-choice__selection">
                                    <div class="alerts-choice__email">e-mail</div>
                                    <div class="alerts-choice__message">
                                        <select name="" id="" class="selectric">
                                            <option value="">SMS</option>
                                            <option value="">Viber</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="alerts__item">
                                <div class="alerts__name">Заказ оформлен</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="alerts__item">
                                <div class="alerts__name">О зачеслении средств</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="alerts__item">
                                <div class="alerts__name">Все задачи готовы к выдаче</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="alerts__item">
                                <div class="alerts__name">Информационные рассылки</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        <div class="alerts__box">
                            <div class="alerts__caption">Движение заказов</div>
                            <div class="alerts__item">
                                <div class="alerts__name">Выдано</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Готово к выдаче</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Ожидает оплаты</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Отправлено в ПВЗ</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Получено в заказ</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Пришло на склад</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Снято</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Согласовать срок поставки</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Срок поставки не подтвержден</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Срок поставки подтвержден</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">

                                    </div>
                                </div>
                            </div>

                            <div class="alerts__item">
                                <div class="alerts__name">Утилизовано</div>
                                <div class="alerts__line"></div>
                                <div class="alerts-check">
                                    <div class="alerts-check__one">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                    <div class="alerts-check__two">
                                        <label class="alerts-check__agree">
                                            <input name="q2" type="checkbox" class="checkbox">
                                            <span class="checkbox-custom"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                            <a href="#" class="btn-o alerts__save">Сохранить</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html