//= include/header.html

<script>document.title="Авторизация"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <aside class="sidebar">
                        <div class="b-cart aside-block">
                            <div class="aside-block__header">Ваша корзина</div>
                            <div class="aside-block__text">Товаров на: 0 руб.</div>
                        </div>
                    </aside>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Авторизация</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">
                    <div class="authorization">
                        <div class="autoriz">
                            <h1 class="header1">Авторизация</h1>
                            <form action="">
                                <div class="autoriz__form-box">
                                    <div class="autoriz__row">
                                        <div class="autoriz__name">
                                            Логин
                                        </div>
                                        <div class="autoriz__value autoriz__value--login">
                                            <input type="text" placeholder="Ваш логин">
                                        </div>
                                    </div>

                                    <div class="autoriz__row">
                                        <div class="autoriz__name">
                                            Пароль
                                        </div>
                                        <div class="autoriz__value autoriz__value--password">
                                            <input type="text" placeholder="Ваш пароль">
                                        </div>
                                    </div>
                                </div>
                                <div class="autoriz__check">
                                    <label class="register-agree__rules">
                                        <input name="q2" type="checkbox" class="checkbox">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Чужой компьютер</span>
                                    </label>
                                </div>
                                <div class="autoriz__enter">
                                    <button class="btn autoriz__enе">Войти</button>
                                    <a href="#">Забыли пароль?</a>
                                </div>
                            </form>

                            <div class="autoriz__social">
                                Авторизация через:
                                <a class="autoriz__vk" href="#"></a>
                                <a class="autoriz__facebook" href="#"></a>
                                <a class="autoriz__google" href="#"></a>
                                <a class="autoriz__mailru" href="#"></a>
                                <a class="autoriz__windows" href="#"></a>
                                <a class="autoriz__yandex" href="#"></a>
                            </div>

                        </div>
                        <div class="registr">
                            <h1 class="header1">Регистрация</h1>
                            <form action="">
                                <div class="registr__form-box">
                                    <div class="registr__row">
                                        <div class="registr__name">
                                            Фамилия
                                        </div>
                                        <div class="registr__value registr__value--surname">
                                            <input type="text" placeholder="Ваша фамилия">
                                        </div>
                                    </div>

                                    <div class="registr__row">
                                        <div class="registr__name">
                                            Имя
                                        </div>
                                        <div class="registr__value registr__value--name">
                                            <input type="text" placeholder="Ваше имя">
                                        </div>
                                    </div>

                                    <div class="registr__row">
                                        <div class="registr__name">
                                            Отчество
                                        </div>
                                        <div class="registr__value registr__value--patronymic">
                                            <input type="text" placeholder="Ваше отчество">
                                        </div>
                                    </div>
                                    <div class="registr__row">
                                        <div class="registr__name">
                                            Телефон
                                        </div>
                                        <div class="registr__value">
                                            <div class="registr__value--code">
                                                +7
                                            </div>
                                            <div class="register__value--two">
                                                <input type="text" placeholder="XXX XXX-XX-XX">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="registr__row">
                                        <div class="registr__name">
                                            Пароль
                                        </div>
                                        <div class="registr__value registr__value--password">
                                            <input type="text" placeholder="Ваш пароль">
                                        </div>
                                    </div>
                                </div>
                                <div class="registr__enter">
                                    <button class="btn registr__ene">Зарегистрироваться</button>
                                </div>
                            </form>

                            <div class="registr__social">
                                Регистрация через:
                                <a class="registr__vk" href="#"></a>
                                <a class="registr__facebook" href="#"></a>
                                <a class="registr__google" href="#"></a>
                                <a class="registr__mailru" href="#"></a>
                                <a class="registr__windows" href="#"></a>
                                <a class="registr__yandex" href="#"></a>
                            </div>

                            <div class="registr__issue">
                                <a href="#" class="btn-o registr__issuefl">Оформить без регистрации</a>
                                <a href="#" class="btn-o registr__issueur">Оформить без регистрации юр.лицо</a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html