//= include/header.html

<script>document.title="Личный кабинет Баланс"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                //= include/aside-cabinet.html
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">Личный кабинет</a></li>
                            <li class="active">Баланс и оплата</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Баланс и оплата</h1>

                    <div class="balanslk__payment">
                        <div class="balanslk__list">

                            <div class="balanslk__item">
                                <div class="balanslk-account">
                                    <div class="balanslk-account__item">
                                        <div class="balanslk-account__name">Задолжность по закзам</div>
                                        <div class="balanslk-account__line"></div>
                                        <div class="balanslk-account__value">0 руб.</div>
                                    </div>

                                    <div class="balanslk-account__item">
                                        <div class="balanslk-account__name">Средства на счету</div>
                                        <div class="balanslk-account__line"></div>
                                        <div class="balanslk-account__value">0 руб.</div>
                                    </div>
                                </div>
                                <div class="balanslk-refill">
                                    <button class="balanslk-refill__btn btn-o">Пополнить</button>
                                </div>
                            </div>

                            <div class="requisites">
                                <div class="requisites__caption">Реквизиты</div>
                                    <div class="requisites-box">
                                        <div class="requisites-box__item">
                                            <div class="requisites-box__name">Юр.лицо</div>
                                            <div class="requisites-box__line"></div>
                                            <div class="requisites-box__value">ИП Потапова Екатерина Федорова</div>
                                        </div>

                                        <div class="requisites-box__item">
                                            <div class="requisites-box__name">ИНН</div>
                                            <div class="requisites-box__line"></div>
                                            <div class="requisites-box__value">5287637367420745</div>
                                        </div>

                                        <div class="requisites-box__item">
                                            <div class="requisites-box__name">КПП</div>
                                            <div class="requisites-box__line"></div>
                                            <div class="requisites-box__value"></div>
                                        </div>

                                        <div class="requisites-box__item">
                                            <div class="requisites-box__name">ОГРН</div>
                                            <div class="requisites-box__line"></div>
                                            <div class="requisites-box__value">121453562577865786767</div>
                                        </div>
                                    </div>
                            </div>

                        </div>
                        <div class="balanslk-history">
                            <div class="balanslk-history__caption">
                                История платежей
                            </div>
                            <div class="balanslk-history__info">
                                <div class="balanslk-history__date">
                                    11.10.2017
                                </div>
                                <div class="balanslk-history__name">
                                    Банковская карта
                                </div>
                                <div class="balanslk-history__line">
                                </div>
                                <div class="balanslk-history__value">
                                    280 руб.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html