//= include/header.html

<script>document.title="ЛК-Корзина"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <div class="b-cart aside-block">
                        <div class="aside-block__header">Ваша корзина</div>
                        <div class="aside-cart__summa">Товаров на: 1 587 руб.</div>
                        <div class="aside-cart__hint">
                            Общий вес: 0.005 кг<br />
                            НДС (18%, включен в цену): 242 руб
                        </div>
                        <div class="aside-cart__itogo">Итого: 1 587 руб.</div>

                    </div>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Корзина</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Корзина</h1>

                    <div class="cart-office">
                        <div class="cart-office__header">Офис выдачи</div>
                        <p>Россия, Москва, улица Ремизова, 8 <span class="cart-office__phone">+7(953)415-06-86, +7(920)007-08-68</span></p>
                        <div class="cart-office__work-time">
                            <p>Пн-Чт 10:00 - 18:00</p>
                            <p>Пт 10:00 - 16:00</p>
                            <p>Сб 10:00 - 14:00</p>
                        </div>
                    </div>

                    <div class="cart-table">
                        <div class="cart-table__header">
                            <div class="cart-table__left">
                                <div class="cart-td cart-td--name">Наименование</div>
                                <div class="cart-td cart-td--descr">Описание</div>
                                <div class="cart-td cart-td--note">Примечание</div>
                            </div>
                            <div class="cart-table__right">
                                <div class="cart-td cart-td--stat">Статистика</div>
                                <div class="cart-td cart-td--time">Срок</div>
                                <div class="cart-td cart-td--count">Кол-во</div>
                                <div class="cart-td cart-td--price">Стоимость</div>
                                <div class="cart-td cart-td--remove"></div>
                            </div>
                        </div>

                        <div class="cart-table__row">
                            <div class="cart-table__left">
                                <div class="cart-td cart-td--name">
                                    <a href="#">Tigar 435958</a>
                                </div>
                                <div class="cart-td cart-td--descr">Наклдка противотуманной фары левый хром</div>
                                <div class="cart-td cart-td--note"></div>
                            </div>
                            <div class="cart-table__right">
                                <div class="cart-td cart-td--stat">Новое поступление</div>
                                <div class="cart-td cart-td--time">6 дн.</div>
                                <div class="cart-td cart-td--count">
                                    <div class="quontity">
                                        <span class="bminus">&ndash;</span>
                                        <input type="text" name="count" value="2">
                                        <span class="bplus">+</span>
                                    </div>
                                </div>
                                <div class="cart-td cart-td--price">230 руб.</div>
                                <div class="cart-td cart-td--remove">
                                    <form action="">
                                        <button class="cart-table__remove"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-table__row">
                            <div class="cart-table__left">
                                <div class="cart-td cart-td--name">
                                    <a href="#">Tigar 435958</a>
                                </div>
                                <div class="cart-td cart-td--descr">Наклдка противотуманной фары левый хром</div>
                                <div class="cart-td cart-td--note"></div>
                            </div>
                            <div class="cart-table__right">
                                <div class="cart-td cart-td--stat">Новое поступление</div>
                                <div class="cart-td cart-td--time">6 дн.</div>
                                <div class="cart-td cart-td--count">
                                    <div class="quontity">
                                        <span class="bminus">&ndash;</span>
                                        <input type="text" name="count" value="2">
                                        <span class="bplus">+</span>
                                    </div>
                                </div>
                                <div class="cart-td cart-td--price">230 руб.</div>
                                <div class="cart-td cart-td--remove">
                                    <form action="">
                                        <button class="cart-table__remove"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-table__row">
                            <div class="cart-table__left">
                                <div class="cart-td cart-td--name">
                                    <a href="#">Tigar 435958</a>
                                </div>
                                <div class="cart-td cart-td--descr">Наклдка противотуманной фары левый хром</div>
                                <div class="cart-td cart-td--note"></div>
                            </div>
                            <div class="cart-table__right">
                                <div class="cart-td cart-td--stat">Новое поступление</div>
                                <div class="cart-td cart-td--time">6 дн.</div>
                                <div class="cart-td cart-td--count">
                                    <div class="quontity">
                                        <span class="bminus">&ndash;</span>
                                        <input type="text" name="count" value="2">
                                        <span class="bplus">+</span>
                                    </div>
                                </div>
                                <div class="cart-td cart-td--price">230 руб.</div>
                                <div class="cart-td cart-td--remove">
                                    <form action="">
                                        <button class="cart-table__remove"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-actions">
                        <button class="btn cart-actions__submit">Оформить заказ</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html


