//= include/header.html

<script>document.title="Каталог"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>

            <div class="content">
                <div class="sortpanel sortpanel--top">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Сортировать по цене: </span>
                            <select name="" id="" class="selectric">
                                <option value="">Дороже</option>
                                <option value="">Дешевле</option>
                            </select>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="viewbox">
                            <a href="#" class="viewbox__item active">
                                <span class="viewbox__tail"></span>
                            </a>
                            <a href="#" class="viewbox__item">
                                <span class="viewbox__list"></span>
                            </a>
                        </div>
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">hino</a></li>
                            <li><a href="/">hino300</a></li>
                            <li class="active">Масла и жидкости</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Масла и жидкости</h1>

                    <div class="product-rows__list">

                        //= include/product-item-row.html
                        //= include/product-item-row.html
                        //= include/product-item-row.html
                        //= include/product-item-row.html
                        //= include/product-item-row.html


                    </div>

                </div>

                <div class="sortpanel sortpanel--bottom">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Сортировать по цене: </span>
                            <select name="" id="" class="selectric">
                                <option value="">Дороже</option>
                                <option value="">Дешевле</option>
                            </select>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="viewbox">
                            <a href="#" class="viewbox__item active">
                                <span class="viewbox__tail"></span>
                            </a>
                            <a href="#" class="viewbox__item">
                                <span class="viewbox__list"></span>
                            </a>
                        </div>
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="view-product">
                    <div class="view-product__all">
                        <a href="#" class="btn-o">Показать все</a>
                    </div>
                    <div class="view-product__header">Вы просматривали</div>
                    <div class="view-product__list">
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html