//= include/header.html


<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Контакты</li>
                        </ul>
                    </div>
                </div>
                <div class="text-box">

                    <h1 class="header1">Контакты</h1>

                    <div class="contacts__box">
                        <div class="contacts__left">
                            <div class="contacts__block contacts__block--phones">
                                <div class="contacts__header">Прием заказов и консультации <span class="times">ежедневно с 9 до 23 часов</span> </div>
                                <ul>
                                    <li><a href="tel:+74955550000" itemprop="telephone"> +7 (495) <span class="red">555 00 00</span></a></li>
                                </ul>
                            </div>
                            <div class="contacts__block contacts__block--mail">
                                <div class="contacts__header">Напишите нам! </div>
                                <ul>
                                    <li><a href="mailto:shop@sumochka.com">shop@sumochka.com</a></li>
                                </ul>
                            </div>
                            <div class="contacts__block contacts__block--address">
                                <div class="contacts__header">Адрес для корреспонденции</div>
                                <ul>
                                     <li>117449, г. Москва, ул. Шверника, д. 17, корп. 3, ИП Амнуэль Ф.Г.</li>
                                </ul>
                            </div>

                        </div>
                        <div class="contacts__right">
                            <div class="contacts__map">
                                <img src="assets/template/img/tmp/map.jpg" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html