//= include/header.html

<script>document.title="Сроки доставки"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Сроки доставки</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Сроки доставки</h1>


                            <p>Заказы, оформленные с понедельника по пятницу до 17.00, доставляются в течение 24 часов, если ваш город:</p>
                            <ul class="delivery__list">
                                <li>Москва</li>
                                <li>Санкт-Петербург</li>
                                <li>Брянск</li>
                                <li>Владимир</li>
                                <li>Вологда</li>
                                <li>Иваново</li>
                                <li>Калуга</li>
                                <li>Кострома</li>
                                <li>Нижний Новгород</li>
                                <li>Орел</li>
                                <li>Тверь</li>
                                <li>Тула</li>
                                <li>Рязань</li>
                                <li>Ярославль</li>
                            </ul>
                            <p>В остальные города России доставка осуществляется курьерскими службами, сроки зависят от региона доставки. Узнать подробнее об условиях доставки в ваш город вы можете в разделе «Доставка»</p>

                            <p class="delivery__express"> Специальное предложение для жителей г. Москва - экспресс-доставка в день заказа.<br />
                            Заказ, оформленный  до 17.00  можно получить в этот же день до 23-00.<br />
                            Стоимость срочной доставки - 400 руб.</p>

                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html