//= include/header.html

<script>document.title="Форум-Темы"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content content-forum">

                <div class="sortpanel">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Поиск по форуму: </span>
                            <div class="sortpanel__search">
                                <form action="">
                                    <input type="text">
                                    <button type="sudmit"></button>
                                </form>

                            </div>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="#">Форум</a></li>
                            <li><a href="#">Форум Isuzu</a></li>
                            <li class="active">Не открывается водительская дверь снаружи</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Не открывается водительская дверь снаружи</h1>

                    <div class="forum-post">
                        <div class="forum-post__date">29 апреля 2017</div>

                        <div class="forum-post__question">
                            <div class="forum-post__image-info">
                                <div class="forum-post__image" style="background-image: url('/assets/template/img/tmp/forum-user.jpg');"></div>
                                <div class="forum-post__info">
                                    <div class="forum-post__user">
                                        <span class="forum-post__login">Diko79,</span>
                                        <span class="forum-post__city"> Москва</span>
                                    </div>
                                    <div class="forum-post__quest">
                                        Приветствую всех. Подскажите пожалуйста что делать. У меня перестала открываться водительская дверь, пружина на ручке работает, но замок не открывается (изнутри все открывается). Может кто нибудь сталкивался с подобной проблемой? Заранее благодарен за помощь.
                                    </div>
                                </div>
                            </div>
                            <div class="forum-post__meta">
                                <div class="forum-meta__answers">6</div>
                            </div>
                        </div>

                        <div class="forum-answer__list">

                            <div class="forum-answer__item">
                                <div class="forum-answer__image" style="background-image: url('/assets/template/img/tmp/forum-user.jpg');"></div>
                                <div class="forum-answer__info">
                                    <div class="forum-answer__user">
                                        <span class="forum-answer__login">Freddy77,</span>
                                        <span class="forum-answer__city"> Москва</span>
                                    </div>
                                    <div class="forum-answer__text">
                                        было такое что изнутри не открывается, а только снаружи, зимой в морозы
                                    </div>
                                </div>
                                <div class="forum-answer__meta">
                                    <div class="forum-answer__date">29 Апреля 2017</div>
                                    <div class="forum-answer__likes">
                                        <div class="b-like">
                                            <div class="b-like__value"></div>
                                            <a href="#" class="b-like__link"></a>
                                        </div>
                                        <div class="b-dislike">
                                            <div class="b-dislike__value"></div>
                                            <a href="#" class="b-dislike__link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="forum-answer__item">
                                <div class="forum-answer__image" style="background-image: url('/assets/template/img/tmp/forum-user.jpg');"></div>
                                <div class="forum-answer__info">
                                    <div class="forum-answer__user">
                                        <span class="forum-answer__login">Freddy77,</span>
                                        <span class="forum-answer__city"> Москва</span>
                                    </div>
                                    <div class="forum-answer__text">
                                        было такое что изнутри не открывается, а только снаружи, зимой в морозы
                                    </div>
                                </div>
                                <div class="forum-answer__meta">
                                    <div class="forum-answer__date">29 Апреля 2017</div>
                                    <div class="forum-answer__likes">
                                        <div class="b-like">
                                            <div class="b-like__value">5</div>
                                            <a href="#" class="b-like__link b-like__link--active"></a>
                                        </div>
                                        <div class="b-dislike">
                                            <div class="b-dislike__value">2</div>
                                            <a href="#" class="b-dislike__link b-dislike__link--active"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="forum-answer__item">
                                <div class="forum-answer__image" style="background-image: url('/assets/template/img/tmp/forum-user.jpg');"></div>
                                <div class="forum-answer__info">
                                    <div class="forum-answer__user">
                                        <span class="forum-answer__login">Freddy77,</span>
                                        <span class="forum-answer__city"> Москва</span>
                                    </div>
                                    <div class="forum-answer__text">
                                        было такое что изнутри не открывается, а только снаружи, зимой в морозы
                                    </div>
                                </div>
                                <div class="forum-answer__meta">
                                    <div class="forum-answer__date">29 Апреля 2017</div>
                                    <div class="forum-answer__likes">
                                        <div class="b-like">
                                            <div class="b-like__value"></div>
                                            <a href="#" class="b-like__link"></a>
                                        </div>
                                        <div class="b-dislike">
                                            <div class="b-dislike__value"></div>
                                            <a href="#" class="b-dislike__link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="sortpanel sortpanel--bottom">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Поиск по форуму: </span>
                            <div class="sortpanel__search">
                                <form action="">
                                    <input type="text">
                                    <button type="sudmit"></button>
                                </form>

                            </div>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

//= include/footer.html


https://www.citilink.ru/catalog/computers_and_notebooks/parts/videocards/SAPPHIRE/?available=1&status=55395790&p=1&f=9368_29AMDd1d1Radeond1RXd1550