//= include/header.html

<script>document.title="Форум"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Форум</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Форум</h1>

                    <div class="forum-category forum-category--main">
                        <div class="forum-category__list">
                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Isuzu</span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">1901</span>
                                </a>
                            </div>
                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Hino</span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">158</span>
                                </a>
                            </div>
                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Mitsubishi</span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">26</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html