//= include/header.html

<script>document.title="Форум-Темы"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content content-forum">

                <div class="sortpanel">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Поиск по форуму: </span>
                            <div class="sortpanel__search">
                                <form action="">
                                    <input type="text">
                                    <button type="sudmit"></button>
                                </form>

                            </div>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="#">Форум</a></li>
                            <li class="active">Форум Isuzu</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Форум ISUZU</h1>

                    <div class="forum-meta">
                        <span class="forum-meta__count">Тем: 1901</span>
                        <a href="#" class="btn-o forum-meta__add">Добавить тему</a>
                    </div>
                    <div class="forum-category">
                        <div class="forum-category__list">
                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Летняя/зимняя соляра</span>
                                    <span class="forum-author">
                                        <span class="forum-author__image">
                                            <img src="/assets/template/img/forum-pic.jpg" alt="">
                                        </span>
                                        <span class="forum-author__login">ТОТ2016,</span>
                                        <span class="forum-author__city"> Москва</span>
                                    </span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">6</span>
                                </a>
                            </div>
                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Не горит свет в салоне при открывании двери</span>
                                    <span class="forum-author">
                                        <span class="forum-author__image">
                                            <img src="/assets/template/img/forum-pic.jpg" alt="">
                                        </span>
                                        <span class="forum-author__login">ТОТ2016,</span>
                                        <span class="forum-author__city"> Москва</span>
                                    </span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">5</span>
                                </a>
                            </div>

                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Дверь</span>
                                    <span class="forum-author">
                                        <span class="forum-author__image">
                                            <img src="/assets/template/img/forum-pic.jpg" alt="">
                                        </span>
                                        <span class="forum-author__login">ТОТ2016,</span>
                                        <span class="forum-author__city"> Москва</span>
                                    </span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">12</span>
                                </a>
                            </div>

                            <div class="forum-category__item">
                                <a href="#" class="forum-category__link">
                                    <span class="forum-category__name">Замена двигателя 1.4 на 1.6 Ti</span>
                                    <span class="forum-author">
                                        <span class="forum-author__image">
                                            <img src="/assets/template/img/forum-pic.jpg" alt="">
                                        </span>
                                        <span class="forum-author__login">Евгений Вячеславович 2014,</span>
                                        <span class="forum-author__city"> Москва</span>
                                    </span>
                                    <span class="forum-category__solved">Вопрос решен</span>
                                    <span class="forum-category__date">Сегодня, 17:22</span>
                                    <span class="forum-category__themes">12</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="sortpanel sortpanel--bottom">
                    <div class="sortpanel__left">
                        <div class="sortpanel__item">
                            <span class="sortpanel__label">Поиск по форуму: </span>
                            <div class="sortpanel__search">
                                <form action="">
                                    <input type="text">
                                    <button type="sudmit"></button>
                                </form>

                            </div>
                        </div>
                        <div class="sortpanel__item sortpanel__item--showpages">
                            <span class="sortpanel__label">Показывать по: </span>
                            <select name="" id="" class="selectric">
                                <option value="">10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="sortpanel__right">
                        <div class="pagination">
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class="disabled"><span class="pagination__prev"></span></li>
                                    <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                    <li class="control"><a href="#" class="pagination__next"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

//= include/footer.html