//= include/header.html


<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Бесплатная доставка</li>
                        </ul>
                    </div>
                </div>
                <div class="text-box">
                    <h1 class="header1">Бесплатная доставка</h1>
                    
                    <p>При покупке товаров на сумму более 4999 рублей доставка бесплатна для городов, обслуживающихся курьерскими службами Axiomus и IML.<br />
                    При покупке товаров на сумму более 7999 рублей доставка бесплатна для городов, обслуживающихся службами EMS Почта России, Boxberry. <br />
                    В большинстве городов России доставка осуществляется курьером, также заказ можно получить в Пунктах самовывоза.</p>

                    <p>При доставке наложенным платежом (Курьерская служба EMS Почта России) примерка возможна только после оплаты. То, что вам не подошло, вы можете вернуть по почте.</p>


                </div>

            </div>
        </div>
    </div>
</section>








//= include/footer.html