//= include/header.html


<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">Личный кабинет</a></li>
                            <li><a href="/">Гараж</a></li>
                            <li class="active">HINO 700</li>
                        </ul>
                    </div>
                </div>
                <div class="text-box">
                    <h1 class="header1">HINO 700</h1>
                    <div class="garage__list">
                        <div class="garage__box">
                            <div class="garage__card">
                                <div class="garage__image">
                                    <img src="assets/template/img/tmp/garage1.png" alt=""></div>
                                <div class="garage__name">
                                    Hino 700
                                </div>
                            </div>
                            <div class="garage-function">
                                <div class="garage-function__caption">
                                    Функции
                                </div>
                                <div class="garage-function__item">
                                    <a href="#">Запросы по VIN</a>
                                </div>
                                <div class="garage-function__item">
                                    <a href="#" >Форум</a>
                                </div>
                            </div>
                        </div>
                        <div class="garage-catalog">
                            <div class="garage-catalog__caption">Каталоги</div>
                            <div class="garage-catalog__menu">
                                <ul class="garage-catalog__list">
                                    <li class="has-child"><a href="#">Двигатель</a>
                                        <ul>
                                            <li><a href="#">Блок цилиндров</a></li>
                                            <li><a href="#">Масляный Радиатор</a></li>
                                            <li><a href="#">Форсунки</a></li>
                                            <li><a href="#">Головка блока цилиндров</a></li>
                                            <li><a href="#">Топливная система</a></li>
                                            <li><a href="#">форсунки</a></li>
                                            <li><a href="#">масляный радиатор</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Ходовая часть</a></li>
                                    <li><a href="#">Шасси (рама)</a></li>
                                    <li><a href="#">Электрика</a></li>
                                    <li><a href="#">Кузов</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html