//= include/header.html

<script>document.title="Как заказть"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Как закать</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Как закать</h1>

                    <div class="order__list">
                        <div class="order__text">
                            <p>Мы благодарим Вас за то, что вы у нас есть, за то, что даете нам стимул для развития и совершенствования! Мы уверены, что Вы сохраните свою приверженность высоким критериям качества.</p>

                            <p>С уважением,</p>

                              <p>Команда ООО"Модные покупки онлайн"</p>

                            <p>Мы старались, чтобы выбирать товары нашим покупателям было как можно удобней и проще. Поэтому разработали специальный фильтр (см. раздел «Каталог»), который позволит вам гораздо быстрее найти то, что нужно. Кликнув на фотографию модели или на ее название, вы попадете на страницу с подробным описанием, где сможете сразу отложить товар в корзину (кнопка «Купить») и продолжить покупки. Вы смело можете откладывать несколько моделей в процессе выбора, а потом удалить ненужные в форме заказа («Корзина») и пересчитать сумму.</p>

                            <p>Как только вы определились с выбором, зайдите в корзину и укажите способ оплаты и доставки, а также заполните пустые поля, отмеченные звездочкой. Как все заполнено, нажмите кнопку «Оформить». Спустя некоторое время (не более нескольких часов) с вами свяжется менеджер для подтверждения заказа.</p>

                            <p>Оформить заказ на сайте <a href="#">Sumochka.com</a> вы можете круглосуточно. Подтверждение заказов производится с 10 до 20 часов ежедневно.</p>

                            <p>Вы также можете связаться по телефону с нашим менеджером, который проконсультирует вас и примет заказ с 9 до 23 часов ежедневно.</p>

                            <p></p>
                              <p>Примечание: в зависимости от настроек вашего монитора цвета могут искажаться.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html