//= include/header.html

<script>document.title="Личный кабинет"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Личный кабинет</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Личный кабинет</h1>

                    <div class="lcabinet">
                        <div class="lcabinet-profile">
                            <div class="lcabinet-profile__image">
                                <img src="/assets/template/img/lk__foto.png" />
                            </div>
                            <div class="lcabinet-profile__info">
                                <div class="lcabinet-profile__name">
                                    Иванов Иван
                                </div>
                                <a href="#" class="lcabinet-profile__setting">
                                    Настройки
                                </a>
                            </div>
                        </div>
                        <!--<div class="lcabinet-box">-->
                            <div class="lcabinet-box__list">
                                <div class="lcabinet-box__item">
                                    <a href="#" class="lcabinet-box__card">
                                        <div class="lcabinet-box__image">
                                            <img src="/assets/template/img/lk__card.png" />
                                        </div>
                                        <div class="lcabinet-box__name">
                                           Корзина
                                        </div>
                                    </a>
                                    <div class="lcabinet-box__text">
                                        Содержимое виртуальной корзины. Срок хранения товаров в корзине ограничен
                                    </div>
                                </div>

                                <div class="lcabinet-box__item">
                                    <a href="#" class="lcabinet-box__card">
                                        <div class="lcabinet-box__image">
                                            <img src="/assets/template/img/lk__garage.png" />
                                        </div>
                                        <div class="lcabinet-box__name">
                                            Гараж
                                        </div>
                                    </a>
                                    <div class="lcabinet-box__text">
                                        Сохраняйте транспортные средства для поиска деталей в каталогах
                                    </div>
                                </div>

                                <div class="lcabinet-box__item">
                                    <a href="#" class="lcabinet-box__card">
                                        <div class="lcabinet-box__image">
                                            <img src="/assets/template/img/lk__order.png" />
                                        </div>
                                        <div class="lcabinet-box__name">
                                            Заказы
                                        </div>
                                    </a>
                                    <div class="lcabinet-box__text">
                                        Мониторинг заказов, просмотр всех заказов, экспорт данных
                                    </div>
                                </div>

                                <div class="lcabinet-box__item">
                                    <a href="#" class="lcabinet-box__card">
                                        <div class="lcabinet-box__image">
                                            <img src="/assets/template/img/lk__zapros.png" />
                                        </div>
                                        <div class="lcabinet-box__name">
                                            Запросы
                                        </div>
                                    </a>
                                    <div class="lcabinet-box__text">
                                        Подбор менеджером необходимых запчастей по описанию
                                    </div>
                                </div>

                                <div class="lcabinet-box__item">
                                    <a href="#" class="lcabinet-box__card">
                                        <div class="lcabinet-box__image">
                                            <img src="/assets/template/img/lk__balans.png" />
                                        </div>
                                        <div class="lcabinet-box__name">
                                            Баланс и оплаты
                                        </div>
                                    </a>
                                    <div class="lcabinet-box__text">
                                        Состояние наличного и безналичного счетов, способы пополнения счета
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                        <div class="lcabinet-forum">
                            <div class="lcabinet-forum__box">
                                <div class="lcabinet-forum__caption">
                                    Профиль на форуме
                                </div>
                                <a href="#" class="lcabinet-forum__setting">
                                    Настройки
                                </a>
                            </div>
                            <div class="lcabinet-forum__text">
                                Заполняйте профиль и задавайте вопросы на форуме, делитесь информацией.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html