//= include/header.html

<script>document.title="Личный кабинет Настройки"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                //= include/aside-cabinet.html
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">Личный кабинет</a></li>
                            <li class="active">Настройки</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Настройки</h1>

                    <div class="lksetting">
                        <div class="lksetting__list">
                            <div class="lksetting__item">
                                <div class="lksetting__image">
                                    <img src="assets/template/img/lk__foto.png"/>
                                </div>
                                <div class="lksetting__information">
                                    <div class="lksetting__phone">
                                        +7 (905) 416-12-54
                                    </div>
                                    <a href="#" class="lksetting__changename">
                                        Поменять пароль (логин)
                                    </a>
                                </div>
                            </div>
                            <div class="lksetting-office">
                                <div class="lksetting-office__caption">
                                    Офис “Беляево”
                                </div>
                                <div class="lksetting-office__item">
                                    <div class="lksetting-office__name">Адрес офиса</div>
                                    <div class="lksetting-office__line"></div>
                                    <div class="lksetting-office__value">Москва, ул. Новая, д.155</div>
                                    <a href="#" class="lksetting-office__edit">Редактировать</a>
                                </div>
                                <div class="lksetting-office__item">
                                    <div class="lksetting-office__name">Ваш менеджер</div>
                                    <div class="lksetting-office__line"></div>
                                    <div class="lksetting-office__value">Пташкина Евгения Васильевна</div>
                                    <a href="#" class="lksetting-office__edit">Редактировать</a>
                                </div>
                                <div class="lksetting-office__item">
                                    <div class="lksetting-office__name">Руководитель отдела</div>
                                    <div class="lksetting-office__line"></div>
                                    <div class="lksetting-office__value">Зубков Денис Владимирович</div>
                                    <a href="#" class="lksetting-office__edit"></a>
                                </div>
                                <div class="lksetting-alerts">
                                    <div class="lksetting-alerts__caption">
                                        Оповещения
                                    </div>
                                    <div class="lksetting-alerts__item">
                                        <div class="lksetting-alerts__name">Движения заказов</div>
                                        <a href="#" class="lksetting-alerts__edit">Настроить оповещения</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lksetting-person">
                            <div class="lksetting-person__caption">Персональные данные</div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Контактное лицо, ФИО</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">Лихацкий Павел Владимирович</div>
                                <a href="#" class="lksetting-person__edit"></a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Код клиента</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">R153416541315</div>
                                <a href="#" class="lksetting-person__edit"></a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Договор с офисом</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">546464644444446441</div>
                                <a href="#" class="lksetting-person__edit"></a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">E-mail</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">mail@mail.ru</div>
                                <a href="#" class="lksetting-person__edit">Редактировать</a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Мобильный телефон</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">+7(905) 895 59 44</div>
                                <a href="#" class="lksetting-person__edit">Редактировать</a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Доп. телефон</div>
                                <div class="lksetting-person__line"></div>
                                <a href="#" class="lksetting-person__value">Добавить</a>
                                <a href="#" class="lksetting-person__edit">Редактировать</a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Домашний регион</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">Россия, Москва и область</div>
                                <a href="#" class="lksetting-person__edit">Изменить</a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Адрес для доставки</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">Не указан</div>
                                <a href="#" class="lksetting-person__edit">Добавить/Удалить адрес</a>
                            </div>
                            <div class="lksetting-person__item">
                                <div class="lksetting-person__name">Ваш уровень цен</div>
                                <div class="lksetting-person__line"></div>
                                <div class="lksetting-person__value">Интернет</div>
                                <a href="#" class="lksetting-person__edit"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html