//= include/header-main.html

<script>document.title="Главная заставка"</script>


<div class="main-center">

    <div class="main-section">
        <div class="main-brands">
            <a class="main-brands__item main-brands__item--hino active" href="/main-inner.html" ajax-load=".main-section"></a>
            <a class="main-brands__item main-brands__item--mitsu" href="/main-inner-mitsu.html" ajax-load=".main-section"></a>
            <a class="main-brands__item main-brands__item--isuzu" href="/main-inner-isuzu.html" ajax-load=".main-section"></a>
        </div>
        <div class="main-models">
            <div class="main-models__list">
                <a href="/main-inner-category.html" class="main-models__item active" ajax-load=".main-category">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/300-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 300</div>
                </a>
                <a href="/main-inner-category.html" class="main-models__item" ajax-load=".main-category">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/500-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 500</div>
                </a>
                <a href="/main-inner-category.html" class="main-models__item" ajax-load=".main-category">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/700-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 700</div>
                </a>
                
                <div class="main-models__circle"></div>
            </div>


            <div class="main-category">
                <div class="main-category__list">
                    <a href="#" class="main-category__item main-category__item--engine" >
                        <div class="main-category__name">Двигатель</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--amort">
                        <div class="main-category__name">Ходовая часть</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--shassis">
                        <div class="main-category__name">Шасси (рама)</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--electro">
                        <div class="main-category__name">Электрика</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--body">
                        <div class="main-category__name">Кузов</div>
                    </a>

                    <a href="#" class="main-category__item main-category__item--oil">
                        <div class="main-category__name">Масла и жидкости</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--to">
                        <div class="main-category__name">Расходники<br /> для ТО</div>
                    </a>
                    <a href="#" class="main-category__item main-category__item--service">
                        <div class="main-category__name">Сервис</div>
                    </a>
                </div>
            </div>


        </div>

        

    </div>



</div>


//= include/footer-main.html