//= include/header.html

<script>document.title="Карточка товара"</script>

<link rel="stylesheet" href="/assets/components/msearch2/css/web/default.css" type="text/css" />
<link rel="stylesheet" href="/assets/components/minishop2/css/web/default.css?v=14f1a1db65" type="text/css" />
<script type="text/javascript">miniShop2Config = {"cssUrl":"\/assets\/components\/minishop2\/css\/web\/","jsUrl":"\/assets\/components\/minishop2\/js\/web\/","actionUrl":"\/assets\/components\/minishop2\/action.php","ctx":"web","close_all_message":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","price_format":[2,"."," "],"price_format_no_zeros":true,"weight_format":[3,"."," "],"weight_format_no_zeros":true};</script>
<script type="text/javascript">mse2Config = {"cssUrl":"\/assets\/components\/msearch2\/css\/web\/","jsUrl":"\/assets\/components\/msearch2\/js\/web\/","actionUrl":"\/assets\/components\/msearch2\/action.php","queryVar":"query","idVar":"id","filter_delimeter":"|","method_delimeter":":","values_delimeter":",","start_sort":"ms|price:desc","start_limit":"5","start_page":1,"start_tpl":"","sort":"","limit":"","page":"","pageVar":"page","tpl":"","parentsVar":"parents","key":"48b5924ee1a09c4d84f2c45868e344bdbbc9a019","pageId":2,"query":"","parents":"","aliases":[],"options":[],"mode":"","moreText":"\u0417\u0430\u0433\u0440\u0443\u0437\u0438\u0442\u044c \u0435\u0449\u0435"};</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="aside-filter" id="mse2_mfilter">
                    <div class="aside-filter__item aside-filter__search-box">
                        <div class="aside-filter__search">
                            <form action="">
                                <input type="text" placeholder="Поиск">
                                <button type="sudmit"></button>
                            </form>
                        </div>
                    </div>
                    <form action="katalog-tovarov" method="post" id="mse2_filters">

                        <div class="aside-filter__item">
                            <fieldset id="mse2_ms|price">
                                <div class="aside-filter__label">Цена, руб.</div>
                                <div class="aside-filter__body">
                                    <div class="mse2_number_slider"></div>
                                    <div class="mse2_number_inputs">
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_0">от
                                                <input type="text" name="price" id="mse2_ms|price_0" value="1" class="form-control input-sm" />
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_1">до
                                                <input type="text" name="price" id="mse2_ms|price_1" value="1023" class="form-control input-sm" />
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="aside-filter__item">
                            <fieldset id="mse2_ms|price">
                                <div class="aside-filter__label">Наличие шт.</div>
                                <div class="aside-filter__body">
                                    <div class="mse2_number_slider"></div>
                                    <div class="mse2_number_inputs">
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_0">от
                                                <input type="text" name="price" id="mse2_ms|price_0" value="1" class="form-control input-sm" />
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_1">до
                                                <input type="text" name="price" id="mse2_ms|price_1" value="1023" class="form-control input-sm" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="aside-filter__item">
                            <fieldset id="mse2_ms|price">
                                <div class="aside-filter__label">Срок поставки дней</div>
                                <div class="aside-filter__body">
                                    <div class="mse2_number_slider"></div>
                                    <div class="mse2_number_inputs">
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_0">от
                                                <input type="text" name="price" id="mse2_ms|price_0" value="1" class="form-control input-sm" />
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mse2_ms|price_1">до
                                                <input type="text" name="price" id="mse2_ms|price_1" value="1023" class="form-control input-sm" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="aside-filter__item">
                            <fieldset id="mse2_ms|price">
                                <label class="aside-filter__checkbox">
                                    <input name="q2" type="checkbox" class="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label register__text"> Искомый артикул</span>
                                </label>

                                <label class="aside-filter__checkbox">
                                    <input name="q2" type="checkbox" class="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label register__text"> Аналог</span>
                                </label>
                            </fieldset>
                        </div>

                        <div class="aside-filter__item">
                            <fieldset id="mse2_ms|price">
                                <label class="aside-filter__checkbox">
                                    <input name="q2" type="checkbox" class="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label label__photo"> Фото</span>
                                </label>

                            </fieldset>
                        </div>




                        <div class="aside-filter__reset">
                            <button class="btn-o">Сбросить</button>
                        </div>

                    </form>



                </div>
            </aside>

            <div class="content">

                <div class="related-product">
                    <div class="related-product__list">

                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Оригинал</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Аналог</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Популярное</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card__name">Моторное масло Mobil 1 0W-20</div>
                    <div class="product-card__body">
                        <div class="product-card__preview">
                            <div class="product-card__image-box">
                                <img src="/assets/template/img/tmp/product-card__prev.jpg" alt="">
                            </div>
                            <div class="product-property">
                                <div class="product-property__item product-property__item--article">
                                    <div class="product-property__name">Артикул</div>
                                    <div class="product-property__value">2340902375</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Производитель</div>
                                    <div class="product-property__value"><a href="#mobi">Mobi</a></div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Состав</div>
                                    <div class="product-property__value">Синтетическое</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Тип двигателя</div>
                                    <div class="product-property__value">Бензин/дизель</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Тип автомобиля</div>
                                    <div class="product-property__value">Легковой</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Объем упаковки</div>
                                    <div class="product-property__value">5 л.</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Вязкость</div>
                                    <div class="product-property__value">0W-20</div>
                                </div>

                            </div>
                        </div>
                        <div class="product-card__result">
                            <div class="product-card__search">Результат поиска Mobil 1</div>

                            <div class="product-result">
                                <div class="product-result__row product-result__row--header">
                                    <div class="product-result__left">
                                        <div class="product-result__col product-result__col--name">Наименование</div>
                                        <div class="product-result__col product-result__col--type"></div>
                                        <div class="product-result__col product-result__col--rating">Рейтинг<br />покупателей</div>
                                    </div>
                                    <div class="product-result__right">
                                        <div class="product-result__col product-result__col--availability"><span>Наличие</span></div>
                                        <div class="product-result__col product-result__col--price">Цена</div>
                                        <div class="product-result__col product-result__col--buy"></div>
                                    </div>
                                </div>
                                <div class="product-result__list">
                                    <div class="product-result__row">
                                        <div class="product-result__left">
                                            <div class="product-result__col product-result__col--name">
                                                Mobil 1 2340902375
                                            </div>
                                            <div class="product-result__col product-result__col--type">
                                                Масло моторное
                                            </div>
                                            <div class="product-result__col product-result__col--rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                        <div class="product-result__right">
                                            <div class="product-result__col product-result__col--availability">
                                                1
                                            </div>
                                            <div class="product-result__col product-result__col--price">
                                                1 800 р.
                                            </div>
                                            <div class="product-result__col product-result__col--buy">
                                                <button class="btn btn__buy"></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="product-result__row product-result__row--header">
                                    <div class="product-result__left">
                                        <div class="product-result__col product-result__col--name">
                                            Аналоги
                                        </div>
                                    </div>
                                    <div class="product-result__right">
                                        <div class="product-result__col product-result__col--view">
                                            <label for="">
                                                <input type="checkbox">Компактный вид
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-result__list">
                                    <div class="product-result__row">
                                        <div class="product-result__left">
                                            <div class="product-result__col product-result__col--name">
                                                Mobil 1 2340902375
                                            </div>
                                            <div class="product-result__col product-result__col--type">
                                                Масло моторное
                                            </div>
                                            <div class="product-result__col product-result__col--rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                        <div class="product-result__right">
                                            <div class="product-result__col product-result__col--availability">
                                                1
                                            </div>
                                            <div class="product-result__col product-result__col--price">
                                                1 800 р.
                                            </div>
                                            <div class="product-result__col product-result__col--buy">
                                                <button class="btn btn__buy"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-result__row">
                                        <div class="product-result__left">
                                            <div class="product-result__col product-result__col--name">Mobil 1 2340902375</div>
                                            <div class="product-result__col product-result__col--type">Масло моторное</div>
                                            <div class="product-result__col product-result__col--rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                        <div class="product-result__right">
                                            <div class="product-result__col product-result__col--availability">3</div>
                                            <div class="product-result__col product-result__col--price">1 950 р.</div>
                                            <div class="product-result__col product-result__col--buy">
                                                <button class="btn btn__buy"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>


                <div class="product-info">
                    <div class="product-info__nav">
                        <ul>
                            <li><a data-tab=".tab-params" class="active" href="#">Параметры</a></li>
                            <li><a data-tab=".tab-descr" href="#">Описание</a></li>
                        </ul>
                    </div>
                    <div class="product-info__tabs">
                        <div class="product-info__tab tab tab-params active">
                            <div class="product-info__caption">Параметры</div>
                            <div class="product-params">

                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Вязкость <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">5W-30</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Наименование <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Dexso 2</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Объем, л <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">1</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Состав <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Синетическое</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации ACEA <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">B3|B4|C3|A3</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации API <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">CF|SM</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации OEM <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">BMW nhlgfk|dbd|415-bdb-bdbd|dbdvdg1265416 - dfhgls  ;/df|vdfkgjb|4165d-fc  ;/</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Тип контейнера <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Канистра пластик</div>
                                </div>

                            </div>
                            <div class="product-info__caption">Общие</div>
                            <div class="product-params">

                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Длина упаковки,мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">225</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Толщина упаковки, мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">65</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Ширина упаковки, мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">105</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Вес, г <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">926</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Страна производства <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Бельгия</div>
                                </div>

                            </div>







                        </div>
                        <div class="product-info__tab tab tab-descr">


                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti dolorem ex fugiat inventore, minima modi necessitatibus, nihil non placeat praesentium provident quos, ratione reprehenderit saepe sunt tempora totam voluptate?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nisi obcaecati odit officia qui. Amet consectetur cum eligendi quod similique ut. Aut culpa maxime qui recusandae rerum saepe sapiente voluptatum.</p>
                        </div>
                    </div>
                </div>

                <div class="text-box">



                </div>



                <div class="view-product">
                    <div class="view-product__all">
                        <a href="#" class="btn-o">Показать все</a>
                    </div>
                    <div class="view-product__header">Вы просматривали</div>
                    <div class="view-product__list">
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html