//= include/header.html

<script>document.title="Регистрация"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li class="active"><a href="#"><span>Частное лицо</span></a></li>
                        <li><a href="#"><span>Юридическое лицо</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Регистрация</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Регистрация</h1>

                    <div class="register">
                        <form action="">
                            <div class="register__top">
                                <div class="register__form-box">
                                    <div class="register__type">
                                        <a href="#" class="register__type-link register__type-link--active">Частное лицо</a>
                                        <a href="#" class="register__type-link">Юридическое лицо</a>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Регион обслуживания
                                        </div>
                                        <div class="register__value">
                                            <div class="register__value--region">
                                                <input type="text" placeholder="RUS">
                                            </div>
                                            <div class="register__value--two">
                                                <input type="text" placeholder="Ваш город">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Офис обслуживания (3)
                                        </div>
                                        <div class="register__value register__value--ofice">
                                            <select name="" id="" class="selectric">
                                                <option value="">Выбрать..</option>
                                                <option value="">Тип2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Имя
                                        </div>
                                        <div class="register__value register__value--name">
                                            <input type="text" placeholder="Ваше имя">
                                        </div>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Фамилия
                                        </div>
                                        <div class="register__value register__value--surname">
                                            <input type="text" placeholder="Ваша фамилия">
                                        </div>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Мобильный телефон
                                        </div>
                                        <div class="register__value">
                                            <div class="register__value--code">
                                                +7
                                            </div>
                                            <input type="text" placeholder="XXX XXX-XX-XX">
                                        </div>
                                    </div>

                                    <div class="register__row">
                                        <div class="register__name">
                                            Email
                                        </div>
                                        <div class="register__value register__value--email">
                                            <input type="text" placeholder="E-mail">
                                        </div>
                                    </div>
                                </div>
                                <div class="register__map-box">
                                    <img src="/assets/template/img/tmp/map-2.jpg" alt="">
                                </div>
                            </div>

                            <div class="register__bottom">

                                <label class="register-agree__rules">
                                    <input name="q2" type="checkbox" class="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label"> С <a href="#">условиями использования</a> ресурсов exist.ru ознакомлен и согласен</span>
                                </label>

                                <label class="register-agree__personal">
                                    <input name="q2" type="checkbox" class="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label register__text"> Я разрешаю ООО «А+А Эксист-Инфо» получать, хранить и использовать мои персональные данные, в том числе, но не ограничиваясь: имя, фамилию, отчество, почтовый адрес, телефоны, адрес электронной почты в целях обеспечения оформления договоров с торговыми организациями, оповещений, проведения платежей (взаиморасчетов), передачи операторам фискальных данных (ООО «А+А Эксист-Инфо» внесено в реестр операторов персональных данных в соответствии с Приказом Роскомнадзора № 216 от 14.08.2017, номер в реестр 77-17-006881)</span>
                                </label>

                            </div>
                            <div class="register__submit">
                                <a href="#" class="btn-o register__end">Регистрация</a>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html