//= include/header.html

<script>document.title="Регистрация"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li class="active"><a href="#"><span>Частное лицо</span></a></li>
                        <li><a href="#"><span>Юридическое лицо</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Регистрация</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Выберите тип договора:</h1>
                    <div class="registration">
                        <div class="registration-fl">
                            <div class="registration__text">
                                Вы планируете оплачивать заказы в офисе регистрации, в случае оплаты заказов через банк платежи будут Вами оформляться как платеж от частного лица на счет организации. Отношения между Вами и магазином будут регламентироваться законом <span>'О защите прав потребителей'</span>
                            </div>
                            <div class="registration__button">
                                <a href="#" class="btn-o registration__start">Частное лицо</a>
                            </div>

                        </div>
                        <div class="registration-ur">
                            <div class="registration__text">
                                Ваши платежи будут выполняться только со счета организации. Отношения между вами и магазином будут регламентироваться договором. Ознакомиться и подписать договор вы сможете в офисе регистрации
                            </div>
                            <div class="registration__button">
                                <a href="#" class="btn-o registration__start">Юридическое лицо</a>
                            </div>
                            <div class="registration-ur__caption">
                                ООО, ЗАО, ИП
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html