//= include/header.html

<script>document.title="Отзывы"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Отзывы</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Отзывы наших покупателей</h1>
                    <div class="reviews__header">Всего отзывов 31593, за последнюю неделю 57</div>

                    <div class="reviews__list">
                        <div class="reviews__item">
                            <div class="reviews__card">
                                <div class="reviews__image">
                                    <img src="/assets/template/img/revies__img.jpg" height="158" width="161"/>
                                </div>
                                <div class="reviews__name">Иванов Иван</div>
                            </div>
                                <div class="reviews__box">
                                    <div class="reviews__date">
                                        14.10.2017
                                    </div>
                                    <div class="reviews__caption">
                                        Сумка Richet
                                    </div>
                                    <div class="reviews__stars">

                                    </div>
                                    <div class="reviews__text">
                                        <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                                    </div>
                                    <div class="reviews__answer">
                                        <div class="reviews__answer-name">Дизель.Рус</div>
                                        <div class="reviews__answer-text">Мы всегда рады Вам помочь, Татьяна! С нетерпением ждем Вас снова!</div>
                                    </div>
                                </div>
                        </div>

                        <div class="reviews__item">
                            <div class="reviews__card">
                                <div class="reviews__image">
                                    <img src="/assets/template/img/revies__img.jpg" height="158" width="161"/>
                                </div>
                                <div class="reviews__name">Иванов Иван</div>
                            </div>
                            <div class="reviews__box">
                                <div class="reviews__date">
                                    14.10.2017
                                </div>
                                <div class="reviews__caption">
                                    Сумка Richet
                                </div>
                                <div class="reviews__stars">

                                </div>
                                <div class="reviews__text">
                                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                                </div>
                                <div class="reviews__answer">
                                    <div class="reviews__answer-name">Дизель.Рус</div>
                                    <div class="reviews__answer-text">Мы всегда рады Вам помочь, Татьяна! С нетерпением ждем Вас снова!</div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__item">
                            <div class="reviews__card">
                                <div class="reviews__image">
                                    <img src="/assets/template/img/revies__img.jpg" height="158" width="161"/>
                                </div>
                                <div class="reviews__name">Иванов Иван</div>
                            </div>
                            <div class="reviews__box">
                                <div class="reviews__date">
                                    14.10.2017
                                </div>
                                <div class="reviews__caption">
                                    Сумка Richet
                                </div>
                                <div class="reviews__stars">

                                </div>
                                <div class="reviews__text">
                                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                                </div>
                                <div class="reviews__answer">
                                    <div class="reviews__answer-name">Дизель.Рус</div>
                                    <div class="reviews__answer-text">Мы всегда рады Вам помочь, Татьяна! С нетерпением ждем Вас снова!</div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__item">
                            <div class="reviews__card">
                                <div class="reviews__image">
                                    <img src="/assets/template/img/revies__img.jpg" height="158" width="161"/>
                                </div>
                                <div class="reviews__name">Иванов Иван</div>
                            </div>
                            <div class="reviews__box">
                                <div class="reviews__date">
                                    14.10.2017
                                </div>
                                <div class="reviews__caption">
                                    Сумка Richet
                                </div>
                                <div class="reviews__stars">

                                </div>
                                <div class="reviews__text">
                                    <p>Как заявил дизайнер Омар Альфарра Зендах, Tesla намерена победить в 24 Часа Ле-Ман в 2030 г. Он совместно с четырьмя студентами из Европейского института дизайна Барселоны создал Т1, который представляет собой совершенно новый взгляд на гоночный концепт. Студенты решили, что у Т1 ...</p>
                                </div>
                                <div class="reviews__answer">
                                    <div class="reviews__answer-name">Дизель.Рус</div>
                                    <div class="reviews__answer-text">Мы всегда рады Вам помочь, Татьяна! С нетерпением ждем Вас снова!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews-form">
                        <div class="reviews-form__caption">
                            Добавить отзыв
                        </div>
                        <div class="reviews-form__box">
                            <div class="reviews-form__contact">
                                <div class="reviews-form__item reviews-form__item--name">
                                    <span class="reviews-form__label">Ваше имя</span>
                                    <input name="name" placeholder="Введите имя" type="text">
                                </div>
                                <div class="reviews-form__item reviews-form__item--phone">
                                    <span class="reviews-form__label">Ваш телефон</span>
                                    <input name="phone" placeholder="+7 XXX XX XX" type="text">
                                </div>
                                <div class="reviews-form__item reviews-form__item--topic">
                                    <span class="reviews-form__label">Тема отзыва</span>
                                    <input name=topic" placeholder="Введите тему" type="text">
                                </div>
                                <div class="reviews__add-star">
                                    <span>Ваша оценка</span>

                                </div>
                            </div>
                            <div class="reviews-form__text">
                                <div class="reviews-form__item reviews-form__item--text">
                                    <span class="reviews-form__label">Ваш отзыв</span>
                                    <textarea name="text" placeholder="Текст отзыва"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-form__btn">
                            <a href="#" class="btn-o">Добавить отзыв</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html