//= include/header.html


<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">Личный кабинет</a></li>
                            <li><a href="/">Гараж</a></li>
                            <li><a href="/">HINO 700</a></li>
                            <li class="active">Запросы по VIN</li>
                        </ul>
                    </div>
                </div>
                <div class="text-box">
                    <h1 class="header1">HINO 700</h1>
                        <div class="zapros__list">
                            <div class="zapros__card">
                                <div class="zapros__image">
                                    <img src="assets/template/img/tmp/garage1.png" alt=""></div>
                                <div class="zapros__name">
                                    Hino 700
                                </div>
                            </div>
                            <div class="zapros-info">
                                <div class="zapros-info__caption">
                                    Запросы по VIN
                                </div>
                                <div class="zapros-info__list">
                                    У вас пока еще нет ни одного запроса
                                </div>
                                <div class="zapros-info__button">
                                     <a class="btn-o" href="#">Создать новый запрос</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html